{% comment %}
  This page displays a form for visitors to login to their customer account page.
{% endcomment %}

{% capture header %}
{% section 'header' %}
{% endcapture %}
{% assign get_header = header | strip_newlines %}

{% if get_header contains '<!-- Breadcrumb: above slideshow -->' %}
{% include 'breadcrumb' %}
{% endif %}

{% section 'slideshow-page' %}

{% if get_header contains '<!-- Breadcrumb: below slideshow -->' %}
{% include 'breadcrumb' %}
{% endif %}

<div class="container{% if settings.width_bleed_to_edge %} bleed{% endif %} clearfix">

  <div id="CustomerLoginForm" class="half">
    <h2>{{ 'customer.login.title' | t }}</h2>
    {% form 'customer_login' %}

      {% if form.errors %}
        {{ form.errors | default_errors }}
      {% endif %}

      <div class="half">

          <label for="CustomerEmail">
            {{ 'customer.login.email' | t }}
          </label>
          <input type="email"
                 name="customer[email]"
                 id="CustomerEmail"
                 placeholder="{{ 'customer.login.email' | t }}"
                 spellcheck="false"
                 autocomplete="off"
                 autocapitalize="off"
                 autofocus>

      </div>

      {% if form.password_needed %}
      <div class="half">

          <label for="CustomerPassword">
            {{ 'customer.login.password' | t }}
          </label>
          <input type="password"
                 name="customer[password]"
                 id="CustomerPassword"
                 placeholder="{{ 'customer.login.password' | t }}">

      </div>
      {% endif %}

      <div class="actions">

        <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">

        <a href="/account/register">
          {{ 'layout.customer.create_account' | t }}
        </a>

      </div>

    {% endform %}

  </div>

  <div id="RecoverPasswordForm" class="half">

    <h2>{{ 'customer.recover_password.title' | t }}</h2>

    {% form 'recover_customer_password' %}

      {% if form.errors %}
        {{ form.errors | default_errors }}
      {% else %}
        {% if form.posted_successfully? %}
          <!-- <p>{{ 'customer.recover_password.subtext' | t }}</p> -->
          <p class="reset-password-success">{{ 'customer.recover_password.success' | t }}</p>
        {% endif %}
      {% endif %}

      <div class="half">

        <label for="RecoverEmail">
          {{ 'customer.recover_password.email' | t }}
        </label>
        <input type="email"
               name="email"
               id="RecoverEmail"
               placeholder="{{ 'customer.recover_password.email' | t }}"
               spellcheck="false"
               autocomplete="off"
               autocapitalize="off">

      </div>

      <div class="actions">

        <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">

        <a href="/account/login">
          {{ 'customer.recover_password.cancel' | t }}
        </a>

      </div>

    {% endform %}

  </div>

  {% if shop.checkout.guest_login %}
    <h2>{{ 'customer.login.guest_title' | t }}</h2>

    {% form 'guest_login' %}
      <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
    {% endform %}
  {% endif %}

</div>
