<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}
</head>

<body id="page-password" class="template-password">

  <article id="content">
    
    <header role="banner">
      <h1 itemscope itemtype="http://schema.org/Organization">
        <div class="site-logo">
          
          {% capture thelogo %}
          
          {% if settings.logo %}
              {% assign image = settings.logo_size | times: 2 | append: 'x' %}
              {%- capture logo_settings -%}
              {%- assign mobile = settings.width_max_mobile | remove: 'px' | append: 'x' -%}
              {%- assign desktop = settings.width_min_desktop | remove: 'px' | append: 'x' -%}
              {%- if settings.logo_mobile -%}srcset="{{ settings.logo_mobile.src | img_url: mobile }} {{ mobile | remove: 'x' }}w,{{ settings.logo.src | img_url: desktop }} {{ desktop | remove: 'x' }}w"{%- endif -%}
              {%- endcapture -%}
              <img src="{{ settings.logo | img_url: image }}" itemprop="logo" {{ logo_settings }}>
          {% else %}
              {{ shop.name }}
          {% endif %}
          
          {% comment %}
          <a href="/" itemprop="url" class="site-logo{% if settings.logo != blank %} site-header__logo-image{% endif %}">
          </a>
          {% endcomment %}
          
          {% endcapture %}
          
          {{ thelogo }}
          
        </div>
      </h1>
    </header>
    
    {% section 'password' %}
    {{ content_for_layout }}

  </article>

</body>
</html>
