<!-- SECTION -->

{% assign gutter = settings.grid_spacing | append: 'px' %}
{%- assign grid_gutter = gutter -%}
{% capture fillrow %}
{% unless section.settings.row_justify %} 
<div class="item fillrow"></div>
<div class="item fillrow"></div>
<div class="item fillrow"></div>
<div class="item fillrow"></div>
<div class="item fillrow"></div>
<div class="item fillrow"></div>
{% endunless %}
{% endcapture %}

{% assign size = section.settings.collections_title_size %}
{%- capture title_size -%}
{%- if size == 'h2' %}{{ settings.type_h2_size }}{% endif -%}
{%- if size == 'h3' %}{{ settings.type_h3_size }}{% endif -%}
{%- if size == 'h4' %}{{ settings.type_h4_size }}{% endif -%}
{%- if size == 'p' %}{{ settings.type_base_size }}{% endif -%}
{%- endcapture -%}

<style>
{%- if section.settings.section_line_size > 0 -%}
#shopify-section-{{ section.id }} .divide {     
  position: relative;
  height: 0;
  width: 100%;
  padding:  0;
  border-bottom: solid {{ section.settings.section_line_size }}px red;
  border-bottom: solid {{ section.settings.section_line_size }}px transparent;
  border-width: {{ section.settings.section_line_size }}px !important;
  border-color: {{ section.settings.section_line_color }} !important; 
  padding-top: {{ grid_gutter }};
  /* margin: 0 0 -{{ grid_gutter }} 0; */
}   
{%- endif -%}
{% if template contains '.list' %}
.products.gridlist {
  display: grid;
  margin: 0 0 -{{ section.settings.spacing }}px 0;
}
.products.gridlist .item {
  background: {{ settings.color_collection_list_bg }};
  display: block;
  float: left;
  width: 100%;
  margin: 0 0 {{ section.settings.spacing }}px 0 !important;
}
.products.gridlist .item p,
.products.gridlist .item p a {
  color: {{ settings.color_collection_list_text }};
}
.products.gridlist .item img {
  max-width: {{ section.settings.product }}px;
}
{% assign class = 'gridlist' %}
{% else %}
.products.grid {  
  
  display: flex;
  flex-wrap: wrap; 
  
  {% comment %}
  {% if section.settings.row_justify %}  
  display: flex;
  flex-wrap: wrap;   
  {% else %}    
  display: grid;
  grid-gap: {{ section.settings.spacing }}px;  
  grid-template-columns: repeat(auto-fit, minmax({{ section.settings.product }}px, 1fr));  
  {% endif %}  
  
  {% endcomment %}

}
.products.grid .item {
  position: relative;
  background: {{ settings.color_collections_grid_bg }}; 
  
  flex: 1 1 {{ section.settings.product }}px;
  margin: 0 0 {{ section.settings.spacing }}px {{ section.settings.spacing }}px; 
  
  {% comment %} 
  {% if section.settings.row_justify %}  
  flex: 1 1 {{ section.settings.product }}px;
  margin: 0 0 {{ section.settings.spacing }}px {{ section.settings.spacing }}px;  
  {% endif %}  
  {% endcomment %}
  
} 
.products.grid .item:hover {
  background: {{ settings.color_collections_grid_bg_hover }}; 
} 
  
.products.grid {
  margin-left: -{{ section.settings.spacing }}px;
  margin-bottom: -{{ section.settings.spacing }}px;
}  
  
{% comment %}
{% if section.settings.row_justify %}
.products.grid {
  margin-left: -{{ section.settings.spacing }}px;
  margin-bottom: -{{ section.settings.spacing }}px;
}
{% endif %} 
{% endcomment %}  
  
.products.grid .item p,
.products.grid .item p a {
  color: {{ settings.color_collection_grid_text }};
}
.products.grid .item.fillrow {
  background: transparent;
  margin-top: -50px;
}
{% assign class = 'grid' %}
{% endif %}
.products.collections.grid {  
  display: flex;
  flex-wrap: wrap; 
  padding-bottom: {{ settings.grid_spacing | append: 'px' }};
}
.products.collections.grid .item {
  background: {{ settings.color_collections_grid_bg }};  
  border-color: {{ settings.color_collections_grid_border }};  
  
  flex: 1 1 {{ section.settings.product }}px;
  margin: 0 0 {{ section.settings.spacing }}px {{ section.settings.spacing }}px; 
  padding: {{ section.settings.text_spacing }}px;
  
}  
.products.collections.grid {
  margin-left: -{{ section.settings.spacing }}px;
  margin-bottom: -{{ section.settings.spacing }}px;
}  
.products.collections.grid .item.fillrow {
  background: transparent;
  margin-top: -{{ section.settings.spacing }}px;
}
.products.collections.grid .item p,
.products.collections.grid .item p a {
  color: {{ settings.color_collection_grid_text }};
}

{% assign class = 'grid' %}

.products.collections.grid .item .image {
  position: relative;
  margin: 0;
  padding: 0;
}
.products.collections.grid .item .image a {
  /*
  background: yellow;
  border: solid 1px red;
  */
  position: relative;
  overflow: hidden;
  margin: 0;
  float: left;
  width: 100%;
}
.products.collections.grid .item svg,
.products.collections.grid .item img {
  width: 100%;
  float:  left;
} 
.products.collections.grid .item .summary {
  position: relative;
  overflow: hidden;
  padding: {{ section.settings.text_spacing }}%;
  margin: 0;
}
.products.collections.grid .item .summary .title {
  color: {{ settings.color_collections_grid_title }};
}
.products.collections.grid .item .summary .content {
  color: {{ settings.color_collections_grid_text }};
}
  
{% if section.settings.collections_title == 'overlay' or section.settings.collections_description == 'overlay' %}
.products.collections.grid .item .image .title {
  display: table;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 2000px;
  margin-top: -1000px;  
  left: 0;
  top: 50%;
  padding: 0 10%;
  {% assign opacity = section.settings.overlay_opacity | divided_by: 100.00 | round: 2 %}
  background: {{ settings.color_collections_overlay_bg | color_modify: 'alpha', opacity }};
  font-size: {{ title_size }}px;
  {% if settings.collections_hover %}
  -webkit-transition: background-color {{ settings.transition_duration | divided_by: 10.00 }}s ease; 
  -moz-transition: background-color {{ settings.transition_duration | divided_by: 10.00 }}s ease;
  -o-transition: background-color {{ settings.transition_duration | divided_by: 10.00 }}s ease;
  transition: background-color {{ settings.transition_duration | divided_by: 10.00 }}s ease;
  {% endif %}
}
.products.collections.grid .item:hover .image .title {
  {% assign opacity_hover = section.settings.overlay_opacity_hover | divided_by: 100.00 | round: 2 %}
  background: {{ settings.color_collections_overlay_bg | color_modify: 'alpha', opacity_hover }};
}
.products.collections.grid .item .image .title span {
  text-align: center; 
  display: table-cell;
  vertical-align: middle;
  font-weight: normal;
  color: {{ settings.color_collections_overlay_text }};
}
{% endif %}

.products.collections.grid .item .image .title span b {
  display: block;
  color: {{ settings.color_collections_overlay_title }};
}
.template-collection #content .shopify-section > header > .rte {
  margin-bottom: {{ section.settings.spacing }}px;
}
@supports (display: grid) {
  .products.collections > .item,
  .products.collections.grid > .item {
    float: none;
    width: auto;
  }  
}  

</style>

<article>

  <header role="banner">
  {% assign collection_title = page_title %}
  {% capture collection_handle %}{{ collection.handle }}{% endcapture %}
    
  {% if section.settingscollections_title %}
  {% if collection_handle == '' %}{% assign collection_title = 'collections.general.collections_title' | t %}{% endif %}
  <h1>{{ collection_title }}</h1>
  {% endif %}
    
  </header>

  <div class="rte">

    <div class="products collections {{ class }}">

    {% for collection in collections %}
      
      {% assign show_collection = 'yes' %}
      {% if section.blocks.size > 0 %}
        {%- for block in section.blocks -%}
        	{% if block.type == 'exclusion' %}
      			{% if block.settings.collection == collection.handle %}{% assign show_collection = 'no' %}{% endif %}
      		{% endif %}
        {%- endfor -%}
      {% endif %}

      {% if show_collection == 'yes' %}
      {% include 'grid-collection' %}
      {% endif %}

    {% endfor %}

    {{ fillrow }}

    </div> 



{%- if section.settings.section_line_size > 0 -%}
<div class="divide"></div>
{%- endif -%}


    
  </div>
  
</article>

{% include 'sidebars' %}

{% schema %}
  {
    "name": "List of collections",
    "class": "collection",
    "settings": [
      {
        "type": "range",
        "id": "products",
        "min": 1,
        "max": 100,
        "step": 1,
        "label": "Collections to show",
        "default": 12
      },
      {
        "type": "range",
        "id": "product",
        "min": 100,
        "max": 500,
        "step": 10,
        "label": "Collections width",
        "default": 200
      },
      {
        "type": "range",
        "id": "spacing",
        "min": 0,
        "max": 50,
        "step": 5,
        "label": "Collections spacing",
        "default": 20
      },
      {
        "type": "range",
        "id": "text_spacing",
        "min": 0,
        "max": 20,
        "step": 1,
        "label": "Collections text spacing",
        "default": 5
      },
      {
        "type": "select",
        "id": "collections_title",
        "label": "Collections title",
		"default": "below",
        "options": [
          {
            "value": "hidden",
            "label": "Hidden"
          },
          {
            "value": "below",
            "label": "Below"
          },
          {
            "value": "overlay",
            "label": "Overlay"
          }
        ]
      },
      {
        "type": "select",
        "id": "collections_title_size",
        "label": "Collections title size",
		"default": "h4",
        "options": [
          {
            "value": "h2",
            "label": "Secondary heading size"
          },
          {
            "value": "h3",
            "label": "Tertiary heading size"
          },
          {
            "value": "h4",
            "label": "Quaternary heading size"
          },
          {
            "value": "p",
            "label": "Body text size"
          }
        ]
      },
      {
        "type": "select",
        "id": "collections_description",
        "label": "Collections description",
		"default": "below",
        "options": [
          {
            "value": "hidden",
            "label": "Hidden"
          },
          {
            "value": "below",
            "label": "Below"
          },
          {
            "value": "overlay",
            "label": "Overlay"
          }
        ]
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 2,
        "label": "Overlay opacity",
        "default": 20
      },
      {
        "type": "range",
        "id": "overlay_opacity_hover",
        "min": 0,
        "max": 100,
        "step": 2,
        "label": "Overlay opacity hover",
        "default": 70
      },
      {
        "type": "checkbox",
        "id": "image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "image_divide",
        "label": "Show product image divide",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "row_justify",
        "label": "Justify rows",
        "default": true
      },
      {
         "type": "range",
         "id": "section_line_size",
         "min": 0,
         "max": 5,
         "step": 1,
         "unit": "px",
         "label": "Divide line size",
         "default": 1
      },
      {
         "type": "color",
         "id": "section_line_color",
         "label": "Divide line color"
      },
      {
        "type": "checkbox",
        "id": "readmore",
        "label": "Show collection read more",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "exclusion",
        "name": "Exclusion",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }          
        ]
      }
	]
  }

{% endschema %}
