<!-- SECTION -->

{% assign gutter = settings.grid_spacing | append: 'px' %}
{%- assign grid_gutter = gutter -%}
{% assign new = section.settings.new %}
{% assign sale = section.settings.sale %}
{% assign new_days = section.settings.new_days | plus: 0 %}
{% assign picsize = 100 %}
{% comment %}{% assign gutter = 0 %}{% endcomment %}

{% capture fillrow %}
{% unless section.settings.row_justify %} 
<div class="item fillrow"></div>
<div class="item fillrow"></div>
<div class="item fillrow"></div>
<div class="item fillrow"></div>
<div class="item fillrow"></div>
<div class="item fillrow"></div>
{% endunless %}
{% endcapture %}

{% if section.settings.onerow and settings.width_override %}
{% assign fillrow = '' %}
{% endif %}

{% assign size = section.settings.title_size %}
{%- capture title_size -%}
{%- if size == 'h2' %}{{ settings.type_h2_size }}{% endif -%}
{%- if size == 'h3' %}{{ settings.type_h3_size }}{% endif -%}
{%- if size == 'h4' %}{{ settings.type_h4_size }}{% endif -%}
{%- if size == 'p' %}{{ settings.type_base_size }}{% endif -%}
{%- endcapture -%}

<style>
#shopify-section-{{ section.id }} h2,
#shopify-section-{{ section.id }} .rte {
  text-align: {{ section.settings.products_alignment  }};
}

{%- if section.settings.section_line_size > 0 -%}
#shopify-section-{{ section.id }} .divide {     
  position: relative;
  height: 0;
  width: 100%;
  padding:  0;
  border-bottom: solid {{ section.settings.section_line_size }}px red;
  border-bottom: solid {{ section.settings.section_line_size }}px transparent;
  border-width: {{ section.settings.section_line_size }}px !important;
  border-color: {{ section.settings.section_line_color }} !important; 
  padding-top: {{ grid_gutter }};
  /* margin: 0 0 -{{ grid_gutter }} 0; */
}   
{%- endif -%}

/* List */
{% if template contains '.list' %}
#shopify-section-{{ section.id }} .products.grid {
  display: block;
  padding-bottom: {{ section.settings.spacing }}px; 
}
#shopify-section-{{ section.id }} .products.grid .item {
  display: block;
  margin-bottom: {{ section.settings.spacing }}px; 
  width: 100%;
  padding-left: {{ picsize }}px;
} 
#shopify-section-{{ section.id }} .products.grid .item .image {
  width: {{ picsize }}px;
  display: inline;
  float: left;
}  
  #shopify-section-{{ section.id }} .products.grid .item .image img {
    float: left;
    width: 100%;
  }
#shopify-section-{{ section.id }} .products.grid .item .summary {
  /* display: inline-block; */
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-left: {{ section.settings.spacing }}px;
  width: calc(100% - {{ picsize }}px - {{ section.settings.spacing }}px);
}   
#shopify-section-{{ section.id }} .products.grid .item .review-rating {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}  
#shopify-section-{{ section.id }} .products.grid .item .btn {
  font-size: 80%;
}  
#shopify-section-{{ section.id }} .products.grid .item h2,
#shopify-section-{{ section.id }} .products.grid .item p {
  margin-bottom: 0.3em;
}  
#shopify-section-{{ section.id }} .products.grid .item .price {
  font-size: 100%;
}  
#shopify-section-{{ section.id }} .products.grid .item .productprice,
#shopify-section-{{ section.id }} .products.grid .item .small {
  margin-top: 0;
} 
#shopify-section-{{ section.id }} .products.grid .item .small {
  display: none;
}
  
  

/* 
.products.grid .item a {
  display: none;
}
*/
 
  
  
  
  

  
  
  
  
  
  
  
  

{% assign class = ' list' %}
{% else %}
  
/* Grid */
#shopify-section-{{ section.id }} .products.grid {  
  display: flex;
  flex-wrap: wrap; 
  
  {% comment %}
  {% if section.settings.row_justify %}  
  display: flex;
  flex-wrap: wrap;   
  {% else %}    
  display: grid;
  grid-gap: {{ section.settings.spacing }}px;  
  grid-template-columns: repeat(auto-fit, minmax({{ section.settings.product }}px, 1fr));  
  {% endif %}  
  
  {% endcomment %}

  margin-left: -{{ section.settings.spacing }}px;
  margin-bottom: -{{ section.settings.spacing }}px;

}
#shopify-section-{{ section.id }} .products.grid .item {
  flex: 1 1 {{ section.settings.product }}px;
  margin: 0 0 {{ section.settings.spacing }}px {{ section.settings.spacing }}px; 
  
  {% comment %} 
  {% if section.settings.row_justify %}  
  flex: 1 1 {{ section.settings.product }}px;
  margin: 0 0 {{ section.settings.spacing }}px {{ section.settings.spacing }}px;  
  {% endif %}  
  {% endcomment %}  
  text-align: {{ section.settings.products_alignment  }};
}
#shopify-section-{{ section.id }} .products.collection.grid .item .more form.readmore button.btn {
  float: left !important;
  width: 48% !important;
} 
#shopify-section-{{ section.id }} .products.collection.grid .item .more form.readmore span.btn {
  float: right !important;
  width: 48% !important;
} 
  
  
  
  
  
/* TESTING */ 
#shopify-section-{{ section.id }} .products.collection.grid .item.hasexcerpt,
#shopify-section-{{ section.id }} .products.collection.grid .item.andcart {
  padding-bottom: 60px;
  padding-bottom: calc({{ section.settings.text_spacing | times: 2 }}px + {{ settings.button_base_size }} + 0.51em + 0.51em);
  padding-bottom: calc({{ section.settings.text_spacing | times: 2 }}px + {{ settings.button_base_size }} + {{ settings.button_padding | divided_by: 4 | times: 0.01 | times: 2 }}em);
}
  
  
@media only screen and (max-width: {{ settings.width_max_mobile }}) {
  #shopify-section-{{ section.id }} .products.collection.grid .item.buttons {
    padding-bottom: 100px;
  }
  #shopify-section-{{ section.id }} .products.collection.grid .item .more .btn,
  #shopify-section-{{ section.id }} .products.collection.grid .item .readmore .link {
    margin-top: {{ section.settings.text_spacing }}px;
  }  
}    
  
  
  
  
  
  

{% assign class = '' %}
{% endif %}
   

/* Grid & List */
#shopify-section-{{ section.id }} .products.grid .item {
  position: relative;
  background: {{ settings.color_collection_grid_bg }}; 
  padding: {{ section.settings.text_spacing }}px;
  {% if settings.products_hover %}
  -webkit-transition: background-color {{ settings.transition_duration | divided_by: 10.00 }}s ease; 
  -moz-transition: background-color {{ settings.transition_duration | divided_by: 10.00 }}s ease;
  -o-transition: background-color {{ settings.transition_duration | divided_by: 10.00 }}s ease;
  transition: background-color {{ settings.transition_duration | divided_by: 10.00 }}s ease;
  {% endif %}
} 
#shopify-section-{{ section.id }} .products.grid .item:hover {
  background: {{ settings.color_collection_grid_bg_hover }}; 
} 
  
#shopify-section-{{ section.id }} .products.collection.grid .item .more {
  bottom: {{ section.settings.text_spacing }}px;
  left: {{ section.settings.text_spacing }}px;
  width: calc(100% - {{ section.settings.text_spacing | times: 2 }}px);
  height: auto;
}
#shopify-section-{{ section.id }} .products.collection.grid .item .more form {
  /* border: solid 1px green; */
  max-width: none;
}
#shopify-section-{{ section.id }} .products.collection.grid .item .more .btn {
  margin-right: {{ section.settings.text_spacing }}px;
  margin-right: 0;
}

  
  
#shopify-section-{{ section.id }} .products.grid .item h2,
#shopify-section-{{ section.id }} .products.grid .item p,
#shopify-section-{{ section.id }} .products.grid .item p a {
  color: {{ settings.color_collection_grid_text }};
}
#shopify-section-{{ section.id }} .products.grid .item.fillrow {
  background: transparent;
  margin-top: -50px;
} 
#shopify-section-{{ section.id }} .products.grid .item svg,
#shopify-section-{{ section.id }} .products.grid .item img {
  width: 100%;
} 


#shopify-section-{{ section.id }} .products.collection.grid .item .small{
  	font-size: 80%;
}
#shopify-section-{{ section.id }} .products.collection.grid .item .title {
  font-size: {{ title_size }}px;
}

  
  

#shopify-section-{{ section.id }} .products.grid .item .pricing {
  /* margin-top: {{ section.settings.spacing }}px; */
  margin-top:  {{ section.settings.text_margin }}px;
  margin-bottom: {{ section.settings.spacing }}px; 
}    
  
  
  
  
@media only screen and (max-width: {{ settings.width_max_mobile }}) {
  #shopify-section-{{ section.id }} .products.collection.grid .item.buttons {
    padding-bottom: 100px;
  }
  #shopify-section-{{ section.id }} .products.collection.grid .item .more .btn {
    margin-top: {{ section.settings.text_spacing }}px;
  }  
}
  
  
  
  
  
  
{% comment %}
#shopify-section-{{ section.id }} .products.collection.grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#shopify-section-{{ section.id }} {
  padding-bottom: {{ gutter }};
  margin-top: -{{ gutter }};/*  */
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  /*
  background: pink;
  position: relative;
  overflow: hidden;
  */
} 
#shopify-section-{{ section.id }} .container {
  padding-top: 0;
  margin-top: 0;
  position: relative;
  overflow: hidden;
  {% if section.settings.feature_width == 'container' %}
  padding: 0;
  {% endif %}
} 
#shopify-section-{{ section.id }} .products.collection.grid {
  margin-left: -{{ section.settings.spacing }}px;
}
#shopify-section-{{ section.id }} .products.collection.grid .item {
  background: {{ settings.color_collection_grid_bg }};   
  flex: 1 1 {{ section.settings.product }}px;
  margin: 0 0 {{ section.settings.spacing }}px {{ section.settings.spacing }}px; 
  
  /* help keep equal height summary captions from overflowing */
  {% unless settings.color_collections_overlay_title_bg == 'rgba(0,0,0,0)' or settings.color_collections_overlay_title_bg == '' %}
  position: relative;
  /* TESTING */
  /* Allow new product stickers to overlap */
  /* overflow: hidden; */
  {% endunless %}
} 
#shopify-section-{{ section.id }} .products.collection.grid .item.fillrow {
  background: transparent;
  margin-top: -{{ section.settings.spacing }}px;
}
#shopify-section-{{ section.id }} .products.collection.grid .item h2,
#shopify-section-{{ section.id }} .products.collection.grid .item p,
#shopify-section-{{ section.id }} .products.collection.grid .item p a {
  color: {{ settings.color_collection_grid_text }};
}
{% assign class = 'grid' %}

#shopify-section-{{ section.id }} .products.collection.grid .item .image {
  position: relative;
  margin: 0;
  padding: 0;  
  overflow: hidden;
  {% unless section.settings.image_divide %}
  margin-bottom: -{{ section.settings.text_spacing }}%;
  {% endunless %}
}
#shopify-section-{{ section.id }} .products.collection.grid .item .image a {
  position: relative;
  overflow: hidden;
  margin: 0;
  float: left;
  width: 100%;
}
#shopify-section-{{ section.id }} .products.collection.grid .item svg,
#shopify-section-{{ section.id }} .products.collection.grid .item img {
  width: 100%;
} 
#shopify-section-{{ section.id }} .products.collection.grid .item .summary {
  padding: {{ section.settings.text_spacing }}%;
  {% if section.settings.read_more != 'hidden' %}padding-bottom: {{ section.settings.text_spacing | times: 2 }}%;{% endif %}
  margin: 0;
}
  
#shopify-section-{{ section.id }} .products.collection.grid .item .summary .title {
  font-size: {{ title_size }}px;
}
  
#shopify-section-{{ section.id }} .template-collection #content .shopify-section > header > .rte {
  margin-bottom: {{ section.settings.spacing }}px;
}
  
#shopify-section-{{ section.id }} .products.collection.grid .item.hasexcerpt .more {
  margin-left: -{{ section.settings.text_spacing }}%;
}
#shopify-section-{{ section.id }} .products.collection.grid .item.hasexcerpt .more a {
  padding: {{ section.settings.text_spacing }}%;
}
#shopify-section-{{ section.id }} .singlerow .products.collection.grid .item.hasexcerpt .more .btn {
  margin-top: 0;
  /* compensate for button padding messing row alignment */
  margin-bottom: -0.8em;
}
 
{% endcomment %}  
  
  
  
  
#shopify-section-{{ section.id }} .expand {
  {% if section.settings.feature_width == 'content' or section.settings.feature_width == 'page' %}margin-right: {{ gutter }};{% endif %}
}
  
  
  
  
/* TO DO: Superficially restrict to one row using alternative method */
{% assign onerow = section.settings.onerow %}
{% comment %}{% assign onerow = false %}{% endcomment %}

  
  
{% comment %}
@supports (display: grid) {
  #shopify-section-{{ section.id }} .products.collection > .item,
  #shopify-section-{{ section.id }} .products.collection.grid > .item {
    float: none;
    width: auto;
  } 

  {% if onerow %}
  @media only screen and (min-width: {{ settings.width_min_desktop }}){
    #shopify-section-{{ section.id }} .products.collection.grid .item {
      /* display: none; */
    }
    #shopify-section-{{ section.id }} .products.collection.grid .firstrow {
      /* display: block; */
    }
  }
  {% endif %}
  
  @media only screen and (max-width: {{ settings.width_max_mobile }}) {
    #content #shopify-section-{{ section.id }} .products.collection.grid {
      padding: 0 !important;
      {% if settings.mobile_2_columns %}
      {% else %}
      margin: 0 !important;
      {% endif %}
    }
    #content #shopify-section-{{ section.id }} .products.collection.grid > .item {
      padding: 0 !important;
      
      {% comment %}
      margin: 0 0 {{ section.settings.spacing }}px 0 !important;
      /* Force onerow items to display on mobile */
      display: block !important;
      {% endcomment %}
      
    }
    #shopify-section-{{ section.id }} .expand {
      display: none;
    }
  }
  
}
{% endcomment %}  

  
  
  
{% assign class = 'grid' %}
  
  
  
  

/* Hide readmore buttons on collections, use slide on hover to display */
{% if settings.products_hover_buttons_slide %}
@media only screen and (min-width: {{ settings.width_min_tablet }}) {
    #shopify-section-featured-collection .products.grid .item .more {
      /* Set top padding to item text padding (only working correctly in list view) */
      margin-right: {{ section.settings.text_spacing }}px !important;
      margin-bottom: {{ section.settings.text_spacing }}px !important;
    } 
  
}
{% endif %}  

{% comment %}
{% endcomment %}

  

  
</style>

{%- assign collection = collections[section.settings.collection] -%}

{% capture expand %}
{% if section.settings.type != 'hidden' %}
<span class="expand" data-url="/collections/{{ collection.handle }}"></span>
{% endif %}
{% endcapture %}

{% if section.settings.feature_width == 'container' or section.settings.feature_width == 'content' %}
<div class="container{% if settings.width_bleed_to_edge %} bleed{% endif %}">
{% else %}
<div class="fullwidth">
{% endif %}

{% if section.settings.title != blank %}
  <h2>{{ section.settings.title | escape }}{{ expand }}</h2>
{% endif %}

{% if section.settings.show_description != blank %}
  <div class="rte">{{ collection.description }}</div>
{% endif %}

<div class="products collection {{ class }}">

{% for product in collection.products limit: section.settings.products %}
  
  {% include 'grid-product' %}

{% else %}

  {% for i in (1..6) %} 
  
  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
  {% assign demo_title = 'homepage.onboarding.product_title' | t %}
  {% assign demo_content = 'homepage.onboarding.no_content' | t %}
  {% assign demo_img = 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' %}
  {% include 'grid-product', demo_title: demo_title, demo_content: demo_content, demo_img: demo_img %}

  {% endfor %}
{% endfor %}

{{ fillrow }}

</div>



{%- if section.settings.section_line_size > 0 -%}
<div class="divide"></div>
{%- endif -%}



{% if section.settings.feature_width == 'container' or section.settings.feature_width == 'content' %}</div>{% else %}
</div>
{% endif %}

{% if onerow %}
<script>
<!-- TO DO: If collection items greater than can fit on screen, hide fillrow items -->
(function() {
  var collection_top;
  collection_markrow = function(){
    $('#shopify-section-{{ section.id }} .grid .item').each(function(i){
      $(this).css('display', 'block');
      var collection_thistop = $(this).position().top;
      if (i == 0){
          collection_top = collection_thistop;
      }      
      if (collection_top == collection_thistop){
      } else {
          $(this).removeClass('firstrow');
          $(this).css('display', 'none');
      }
    });
  };
  collection_markrow();  
})();
$(document).ready(function(){
  var resizeId;
  
  {% if settings.sidesbar_home %}
  /* TESTING page load of homepage collections with sidebar */
  collection_markrow();
  {% endif %}
  
  $('#shopify-section-{{ section.id }} .expand').html('<a href="#"{% if section.settings.expand == 'button' %} class="btn"{% endif %}>{% if section.settings.type == 'expand' %}{{ 'collections.general.expand_link' | t }}{% else %}{{ 'collections.general.show_link' | t }}{% endif %}</a>');
  $(window).resize(function() {
      if (window.section{{ section.id | remove: '-' }} != 'open'){
        collection_markrow();
      };    
  });
  $('#shopify-section-{{ section.id }} .expand a').click(function(e){
    
    {% if section.settings.type == 'collection' %}
    e.preventDefault();
	location.href = $(this).parent().data('url');
    {% else %}
    e.preventDefault();
  	if (window.section{{ section.id | remove: '-' }} != 'open'){
    	window.section{{ section.id | remove: '-' }} = 'open';  
    	$('#shopify-section-{{ section.id }} .grid .item').removeClass('firstrow');
    	$('#shopify-section-{{ section.id }} .grid .item').css('display', 'block');
    	$('#shopify-section-{{ section.id }} .expand a').html('{{ 'collections.general.hide_link' | t }}');
    } else {
        $('#shopify-section-{{ section.id }} .expand a').html('{% if section.settings.type == 'expand' %}{{ 'collections.general.expand_link' | t }}{% else %}{{ 'collections.general.show_link' | t }}{% endif %}');
        window.section{{ section.id | remove: '-' }} = 'close';
    	collection_markrow();
    };
  	{% endif %}
  
  });
});
</script>
{% endif %}

{% schema %}
  {
    "name": "List of products",
    "class": "collection",
    "settings": [
      {
        "type": "select",
        "id": "feature_width",
        "label": "Width",
        "options": [
          {
            "value": "page",
            "label": "Page"
          },
          {
            "value": "container",
            "label": "Content Container"
          },
          {
            "value": "content",
            "label": "Content Text"
          }
        ],
        "default": "content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "List of products"
      },
      {
        "type": "checkbox",
        "id": "show_description",
        "label": "Show collection description",
        "default": true
      },
      {
        "type": "range",
        "id": "products",
        "min": 1,
        "max": 100,
        "step": 1,
        "label": "Products to show",
        "default": 12
      },
      {
        "type": "range",
        "id": "product",
        "min": 100,
        "max": 500,
        "step": 10,
        "label": "Products width",
        "default": 200
      },
      {
        "type": "range",
        "id": "spacing",
        "min": 0,
        "max": 50,
        "step": 5,
        "label": "Products spacing",
        "default": 20
      },
      {
        "type": "range",
        "id": "text_spacing",
        "min": 0,
        "max": 20,
        "step": 1,
        "label": "Products text spacing",
        "default": 5
      },
      {
        "type": "range",
        "id": "text_margin",
        "min": 0,
        "max": 20,
        "step": 1,
        "label": "Products text margin",
        "default": 3
      },
      {
        "type": "select",
        "id": "title_size",
        "label": "Product title size",
		"default": "h4",
        "options": [
          {
            "value": "h2",
            "label": "Secondary heading size"
          },
          {
            "value": "h3",
            "label": "Tertiary heading size"
          },
          {
            "value": "h4",
            "label": "Quaternary heading size"
          },
          {
            "value": "p",
            "label": "Body text size"
          }
        ]
      },
      {
        "type": "select",
        "id": "products_alignment",
        "label": "Products alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "select",
        "id": "layout_grid_prominent_feature",
        "label": "Prominent feature",
  		"default": "image",
        "options": [
          {
            "value": "title",
            "label": "Title"
          },
          {
            "value": "image",
            "label": "Image"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "product_title",
        "label": "Show product title",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "description",
        "label": "Show product description",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "pricing",
        "label": "Show product price",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "more_options",
        "label": "Show more options",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "first_variant",
        "label": "Show first variant label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "image",
        "label": "Show product image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "vendor",
        "label": "Show vendor",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "sku_as_summary",
        "label": "Show SKU as summary",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "image_divide",
        "label": "Show product image spacing",
        "default": true
      },
      {
        "type": "select",
        "id": "new",
        "label": "New sticker label",
        "options": [
           {
             "value": "hidden",
             "label": "Hidden"
           },
           {
             "value": "topleft",
             "label": "Top left"
           },
           {
             "value": "topright",
             "label": "Top right"
           }
        ],
        "default": "topleft"
      },
      {
        "type": "select",
        "id": "sale",
        "label": "Sale sticker label",
        "options": [
           {
             "value": "hidden",
             "label": "Hidden"
           },
           {
             "value": "topleft",
             "label": "Top left"
           },
           {
             "value": "topright",
             "label": "Top right"
           }
        ],
        "default": "topright"
      },
      {
        "type": "select",
        "id": "sale_style",
        "label": "Sale sticker style",
        "options": [
           {
             "value": "hidden",
             "label": "Hidden"
           },
           {
             "value": "sale",
             "label": "Sale"
           },
           {
             "value": "saving",
             "label": "Saving price"
           },
           {
             "value": "saving_percent",
             "label": "Saving percent"
           }
        ],
        "default": "sale"
      },
      {
        "type": "select",
        "id": "add_cart",
        "label": "Add to cart",
        "options": [
           {
             "value": "hidden",
             "label": "Hidden"
           },
           {
             "value": "button",
             "label": "Button"
           },
           {
             "value": "icon",
             "label": "Icon"
           }
        ],
        "default": "button"
      },
      {
        "type": "select",
        "id": "read_more",
        "label": "Read more",
        "options": [
           {
             "value": "hidden",
             "label": "Hidden"
           },
           {
             "value": "link",
             "label": "Link"
           },
           {
             "value": "button",
             "label": "Button"
           }
        ],
        "default": "hidden"
      },
      {
        "type": "checkbox",
        "id": "row_justify",
        "label": "Justify rows",
        "default": true
      },
      {
         "type": "range",
         "id": "section_line_size",
         "min": 0,
         "max": 5,
         "step": 1,
         "unit": "px",
         "label": "Divide line size",
         "default": 1
      },
      {
         "type": "color",
         "id": "section_line_color",
         "label": "Divide line color"
      },
      {
        "type": "header",
        "content": "Overflow Options"
      },
      {
        "type": "checkbox",
        "id": "onerow",
        "label": "One row",
        "default": false
      },
      {
        "type": "select",
        "id": "type",
        "label": "See more type",
        "options": [
           {
             "value": "hidden",
             "label": "Hidden"
           },
           {
             "value": "expand",
             "label": "Expand"
           },
           {
             "value": "collection",
             "label": "Go to collection"
           }
        ],
        "default": "expand"
      },
      {
        "type": "select",
        "id": "expand",
        "label": "See more style",
        "options": [
           {
             "value": "link",
             "label": "Link"
           },
           {
             "value": "button",
             "label": "Button"
           }
        ],
        "default": "link"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "List of products",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
