{% include 'settings' %}

{% if section.blocks.size > 0 %}

  <style>
        .meta .desc {
          position: relative;
        }

          .meta .desc > h3  {
            position: relative;
            margin: 0;
            padding: 0;
          }
          .meta .desc > p  {
            position: relative;
            margin: 0;
            padding: 0;
          }


  {% if section.settings.promotions_width == 'page' %}
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.promotions_bg }}; 
  }
  {% endif %}

  {% if section.settings.promotions_width == 'overflow' %}
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.promotions_bg }}; 
  }
  {% endif %}

  {% if section.settings.promotions_width == 'container' %}
  #shopify-section-{{ section.id }} .container {
    padding: 0;
    background-color: {{ section.settings.promotions_bg }}; 
  }
  {% else %}
  #shopify-section-{{ section.id }} .container  {
    background-color: transparent; 
  }
  {% endif %}



  {% assign gridspace = section.settings.promotions_spacing | append: 'px' %}
  {% assign gridpadding = section.settings.promotions_padding | append: 'px' %}

  #shopify-section-{{ section.id }} {
    color: {{ section.settings.promotions_text }};
  }
  #shopify-section-{{ section.id }} h2,
  #shopify-section-{{ section.id }} h3 {
    color: {{ section.settings.promotions_title }};
  }
  {% if section.settings.key_style != 'none' %}
  #shopify-section-{{ section.id }} .featurecolumn {
    position: relative;
  }
    #shopify-section-{{ section.id }} .featurecolumn .keys {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    #shopify-section-{{ section.id }} .featurecolumn i {
      position: absolute;
      font-style: normal;
      display: grid;
      vertical-align: middle;
      text-align: center;
      font-size: 9px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: white;
    }
  {% endif %}
  #shopify-section-{{ section.id }} .featurecolumn img {
    width: 100%;
  }

  @media only screen and (min-width: {{ grid_mobile | remove: 'px' | append: 'px' }}) {

    #shopify-section-{{ section.id }} .features {
      text-align: {{ section.settings.promotions_alignment }};
    }

    {% if section.settings.layout == 'image_top' %}
    {% assign columns = 3 %}

    .meta .desc {
      margin: 0.5em 0;
    }
      #shopify-section-{{ section.id }} .features {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: {{ gridspace }};
        /* grid-gap: 0; */

        margin: 0 !important;
        position: relative !important;
        box-sizing: border-box !important;       
        overflow: hidden !important;
      }
        #shopify-section-{{ section.id }} .features > div {
          box-sizing: border-box; 
          /* border: solid 1px green; */
        }
        #shopify-section-{{ section.id }} .features .featurecolumn {
          grid-area: span 1 / span {{ columns }};
        }
    {% endif %}


    {% if section.settings.layout == '1_column_1_image' %}
    {% assign columns = 2 %}
    {% assign rows = section.blocks.size %}

    #shopify-section-{{ section.id }} .features {
        display: grid;
        grid-template-columns: 30% auto;
        grid-gap: {{ gridspace }};
        /* grid-gap: 0; */

        margin: 0 !important;
        position: relative !important;
        box-sizing: border-box !important;       
        overflow: hidden !important;      
    }
      #shopify-section-{{ section.id }} .features > div {
        box-sizing: border-box; 
        /* border: solid 1px green; */
        /* Vertical align meta descriptions */
        align-self: center;
      }
      #shopify-section-{{ section.id }} .features .featurecolumn {
          grid-area: 1 / 2 / {{ rows }} / 2;
      }

        {% if section.settings.promotions_alignment == 'expand' %}      
        #shopify-section-{{ section.id }} .features > div {
          text-align: left;
        } 
        {% endif %}

        {% if section.settings.promotions_alignment == 'pinch' %}      
        #shopify-section-{{ section.id }} .features > div {
          text-align: right;
        } 
        {% endif %}

    {% endif %}


    {% if section.settings.layout == '1_image_1_column' %}
    {% assign columns = 2 %}
    {% assign rows = section.blocks.size %}

    #shopify-section-{{ section.id }} .features {
        display: grid;
        grid-template-columns: auto 30%;
        grid-gap: {{ gridspace }};
        /* grid-gap: 0; */

        margin: 0 !important;
        position: relative !important;
        box-sizing: border-box !important;       
        overflow: hidden !important;
    }
      #shopify-section-{{ section.id }} .features > div {
        box-sizing: border-box; 
        /* border: solid 1px green; */
        /* Vertical align meta descriptions */
        align-self: center;
      }
      #shopify-section-{{ section.id }} .features .featurecolumn {
          grid-area: 1 / 1 / {{ rows }} / 1;
      }

        {% if section.settings.promotions_alignment == 'expand' %}      
        #shopify-section-{{ section.id }} .features > div {
          text-align: right;
        } 
        {% endif %}

        {% if section.settings.promotions_alignment == 'pinch' %}      
        #shopify-section-{{ section.id }} .features > div {
          text-align: left;
        } 
        {% endif %}

    {% endif %}


    {% if section.settings.layout == '1_column_1_image_1_column' %}
    {% assign columns = 3 %}
    /* Divided is always rounded down by Shopify, so add 2 for odd numbers */
    {% assign rows = section.blocks.size | divided_by: columns | ceil | plus: 2 %}

      #shopify-section-{{ section.id }} .features {
        display: grid;
        grid-template-columns: 25% auto 25%;
        grid-gap: {{ gridspace }};
        /* grid-gap: 0; */

        margin: 0 !important;
        position: relative !important;
        box-sizing: border-box !important;       
        overflow: hidden !important;
      }
        #shopify-section-{{ section.id }} .features > div {
          box-sizing: border-box; 
          /* border: solid 1px green; */
          /* Vertical align meta descriptions */
          align-self: center;
        }
        #shopify-section-{{ section.id }} .features .featurecolumn {
          grid-area: 1 / 2 / {{ rows }};
        }

        {% if section.settings.promotions_alignment == 'expand' %}      
        #shopify-section-{{ section.id }} .features > div {
          text-align: right;
        }      
        #shopify-section-{{ section.id }} .features > div:nth-child(even) {
          text-align: left;
        } 
        {% endif %}

        {% if section.settings.promotions_alignment == 'pinch' %}      
        #shopify-section-{{ section.id }} .features > div {
          text-align: left;
        }      
        #shopify-section-{{ section.id }} .features > div:nth-child(even) {
          text-align: right;
        } 
        {% endif %}


    {% endif %}


    {% if section.settings.layout == '1_row_1_image_1_row' %}
    {% assign columns = 3 %}
      .meta .desc {
        margin: 0.5em 0;
      }
      #shopify-section-{{ section.id }} .features {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: {{ gridspace }};
        /* grid-gap: 0; */

        margin: 0 !important;
        position: relative !important;
        box-sizing: border-box !important;       
        overflow: hidden !important;
      }
        #shopify-section-{{ section.id }} .features > div {
          box-sizing: border-box; 
          /* border: solid 1px green; */
        }
        #shopify-section-{{ section.id }} .features .featurecolumn {
          grid-area: 2 / span {{ columns }};
        }

    {% endif %}


  }




  @media only screen and (max-width: {{ grid_mobile | remove: 'px' | append: 'px' }}) {
    .meta {
      margin: 0 0 0.5em 0;
      position: relative;
      vertical-align: top;
    }
      .meta:before {
        content: '\2022';
        font-size: 2em;
        line-height: 1em;
        position: relative;
        display: inline;
        padding: 0;
        margin: 0;
        vertical-align: top;
      }
        .meta .desc {
          display: inline-block;
          margin: 0 0 0 0.5em;
        }
   }




  /*
  #shopify-section-{{ section.id }} .features .meta {
    background: black;
  }
  */



    
  </style>

    {% if section.settings.promotions_width == 'container' or section.settings.promotions_width == 'content' or section.settings.promotions_width == 'overflow' %}<div class="container{% if settings.width_bleed_to_edge %} bleed{% endif %}">{% endif %}

    {% if section.settings.title != empty %}<h2>{{ section.settings.title }}</h2>{% endif %}

    {% assign keys  = '' %}

    {%- for block in section.blocks -%}

        {% if block.type == 'feature' %}

            {% capture feature_head %}
            <!-- Main feature -->
            <div>
                <h2>{{ block.settings.title }}</h2>
            </div>
            {% endcapture %}

            {% capture feature_image %}
                
                {% assign styles = styles | append: blockstyle %}              
                {% assign imgsize = 1000 | append: 'x' %}

                <img src="{{ block.settings.image | img_url: 'master' }}" /><!-- IMGSIZE: {{ imgsize }} -->

            {% endcapture %}

            {% capture feature_desc %}    
            <div class="desc">
                  <p style="color:{{ block.settings.color_text }}">{{ block.settings.subheading }}</p>
            </div>
            {% endcapture %}

        {% else %}
        {% assign key = '<i style="left:' | append: block.settings.pos_x | append: '%;top:' | append: block.settings.pos_y | append: '%"></i>' %}
        {% assign keys = keys | append: key %}
        {% endif %} 

    {% endfor %}



    {% capture feature_image_with_keys %}
            <div class="featurecolumn{% if section.settings.image_parallax %} parallax{% endif %}" role="presentation">
                
                {{ feature_image }}

                {% if section.settings.key_style != 'none' %}
                <div class="keys">
                  {{ keys }}
                </div>
                {% endif %}

            </div>
    {% endcapture %}



    {% capture promotions %}
    {%- for block in section.blocks -%}

        {% if block.type == 'promotion' %}
          <!-- Pomotional details -->

        {% capture blockstyle %}
          {% if block.settings.image and section.settings.image_type != 'background' %}
          #shopify-section-{{ section.id }} .promotion img {
            margin: 0 !important;
            padding: 0 !important;
          } 
          {% endif %}
        {% endcapture %}
        
        {% assign styles = styles | append: blockstyle %}
      
        {% assign imgsize = 1000 | append: 'x' %}

        <div class="meta">

          {% if block.settings.image and section.settings.image_type != 'background' %}
          <img src="{{ block.settings.image | img_url: imgsize }}" />
          {% endif %}

          <div class="desc">
          <h3>{{ block.settings.title }}</h3>
          {% if block.settings.subheading != blank %}<p style="color:{{ block.settings.color_text }}">{{ block.settings.subheading }}</p>{% endif %}
          </div>
          
          {% if block.settings.url != blank %}<a href="{{ block.settings.url }}"></a>{% endif %}

        </div>

        {% endif %} 

    {%- endfor %}
    {% endcapture %}



<style>
{{ styles }}
</style>



  {{ feature_head }}

  <div class="features">

    {{ feature_image_with_keys }}

    {{ promotions }}

  </div>

  {{ feature_desc }}

  {% if section.settings.promotions_width == 'container' or section.settings.promotions_width == 'content' or section.settings.promotions_width == 'overflow' %}</div>{% endif %}



{% endif %}

{% schema %}
  {
    "name": "Feature Columns",
  "class": "parallax",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Feature columns"
      },
      {
        "type": "select",
        "id": "promotions_width",
        "label": "Width",
        "options": [
          {
            "value": "page",
            "label": "Page"
          },
          {
            "value": "overflow",
            "label": "Content Overflow"
          },
          {
            "value": "container",
            "label": "Content Container"
          },
          {
            "value": "content",
            "label": "Content Text"
          }
        ],
        "default": "content"
      },
      {
        "type": "select",
        "id": "promotions_alignment",
        "label": "Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "expand",
            "label": "Expand"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "pinch",
            "label": "Pinch"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
         "type": "range",
         "id": "promotions_spacing",
         "min": 0,
         "max": 100,
         "step": 10,
         "unit": "px",
         "label": "Column spacing",
         "default": 0
      },
      {
         "type": "range",
         "id": "promotions_padding",
         "min": 0,
         "max": 100,
         "step": 5,
         "unit": "px",
         "label": "Column padding",
         "default": 10
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "options": [
              {
                "value": "image_top",
                "label": "Image | Columns"
              },
              {
                "value": "1_column_1_image",
                "label": "Column | Image"
              },
              {
                "value": "1_image_1_column",
                "label": "Image | Column"
              },
              {
                "value": "1_column_1_image_1_column",
                "label": "Column | Image | Column"
              },
              {
                "value": "1_row_1_image_1_row",
                "label": "Row | Image | Row"
              }
            ],
            "default": "image_top"
      },
      {
        "type": "header",
        "content": "Fonts"
      },
      {
        "type": "range",
        "id": "promotions_heading_size",
        "min": 7,
        "max": 60,
        "step": 1,
        "unit": "px",
        "label": "Heading size",
        "default": 16
      },
      {
        "type": "range",
        "id": "promotions_font_size",
        "min": 7,
        "max": 60,
        "step": 1,
        "unit": "px",
        "label": "Text size",
        "default": 14
      },
      {
        "type": "header",
        "content": "Images"
      },
      {
            "type": "select",
            "id": "image_type",
            "label": "Image type",
            "options": [
              {
                "value": "hidden",
                "label": "Hidden"
              },
              {
                "value": "icon",
                "label": "Icon"
              },
              {
                "value": "image",
                "label": "Image"
              },
              {
                "value": "background",
                "label": "Background"
              }
            ],
            "default": "icon"
      },
      {
             "type": "range",
             "id": "image_size",
             "min": 0,
             "max": 100,
             "step": 2,
             "unit": "%",
             "label": "Image size",
             "default": 10
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "promotions_title",
        "label": "Title color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "promotions_text",
        "label": "Text color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "promotions_bg",
        "label": "Background and overlay color",
        "default": "#ffffff"
      },
      {
            "type": "image_picker",
            "id": "image_bg",
            "label": "Background image"
      },
      {
            "type": "select",
            "id": "image_position",
            "label": "Background position",
            "options": [
              {
                "value": "hidden",
                "label": "Hidden"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "tile",
                "label": "Tile"
              },
              {
                "value": "fill",
                "label": "Fill"
              }
            ],
            "default": "fill"
      },
      {
        "type": "range",
        "id": "image_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "label": "Background overlay visibility",
        "default": 50
      },
      {
         "type": "checkbox",
         "id": "image_parallax",
         "label": "Show parallax",
         "default": true
      },
      {
        "type": "header",
        "content": "Key"
      },
      {
            "type": "select",
            "id": "key_style",
            "label": "Key style",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "bullet",
                "label": "Bullet"
              },
              {
                "value": "number",
                "label": "Number"
              }
            ],
            "default": "bullet"
      }
  ],
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "subheading",
            "label": "Text"
          }
        ]
      },
      {
        "type": "promotion",
        "name": "Column",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "subheading",
            "label": "Text"
          },
          {
             "type": "range",
             "id": "pos_x",
             "min": 0,
             "max": 100,
             "step": 1,
             "unit": "%",
             "label": "Horizontal",
             "default": 0
          },
          {
             "type": "range",
             "id": "pos_y",
             "min": 0,
             "max": 100,
             "step": 1,
             "unit": "%",
             "label": "Vertical",
             "default": 0
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Feature columns",
        "category": "Product"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
