{% if section.blocks.size > 0 %}

{%- assign font_gutter = settings.grid_spacing | append: 'px' -%}
{%- assign grid_gutter = font_gutter | remove: 'px' | plus: 0 -%}
{%- assign form_prefix = 'bh2k20' -%}
{%- assign form = 'contact' -%} 
{%- assign email_label = 'customer.login.email' | t -%}
{%- assign date_label = 'customer.orders.date' | t -%}
{%- assign time_label = 'customer.orders.time' | t -%}
{%- assign phone_label = 'customer.addresses.phone' | t -%}

{% capture fields -%}
{%- for block in section.blocks -%}

  {%- assign label = block.settings.title -%}
  {%- assign name = label | handle -%}
  {%- assign id = form_prefix | append: name -%}
  {%- assign required = '' -%}
  {%- assign asterisk = ''-%}

  {%- assign label_email = email_label | downcase -%}
  {%- assign field_email = label | downcase -%}

  {%- assign label_date = date_label | downcase -%}
  {%- assign field_date = label | downcase -%}

  {%- assign label_time = time_label | downcase -%}
  {%- assign field_time = label | downcase -%}

  {%- assign label_phone = phone_label | downcase -%}
  {%- assign field_phone = label | downcase -%}

  {%- if field_email contains label_email -%}{%- assign type = 'email' -%}{%- else -%}{%- assign type = 'text' %}{%- endif -%}
  {%- if field_date contains label_date -%}{%- assign type = 'date' -%}{%- else -%}{%- assign type = 'text' %}{%- endif -%}
  {%- if field_time contains label_time -%}{%- assign type = 'time' -%}{%- else -%}{%- assign type = 'text' %}{%- endif -%}
  {%- if field_phone contains label_phone -%}{%- assign type = 'tel' -%}{%- else -%}{%- assign type = 'text' %}{%- endif -%}

  {% if block.settings.type == 'heading' -%}
  <h2 class="{{ id }}">{{ block.settings.title }}</h2>
  {%- endif %}

  {% if block.settings.type == 'paragraph' -%}
  <p class="{{ id }}">{{ block.settings.title }}</p>
  {%- endif %}  
  
  {% unless block.settings.type == 'heading' or block.settings.type == 'paragraph' %}
  <div class="{{ block.settings.width }}">

    {% if block.settings.required -%} 
    {% assign required = ' required' %}
    {% assign asterisk = ' <sup>*</sup>' %}
    {% assign placeholder = '' %}
    {%- endif %}

    {% if block.settings.type == 'checkbox' or block.settings.type == 'radio' -%}
    {% assign groupclass = ' class="checkbox"' %}
    {% endif %}

    {% unless section.settings.labels_as_placeholders -%}
    {% unless block.settings.type == 'heading' or block.settings.type == 'paragraph' or block.settings.type == 'radio' or block.settings.type == 'checkbox' %}
    <label for="{{ id }}"{{ groupclass }}>{{ label }}{{ asterisk }}</label>
    {% endunless %}
    {%- endunless %}

    {% if block.settings.type == 'text' -%} 
    {% assign value = name %}
    {% assign name = form | append: '[' | append: name | append: ']' %}
    {% if section.settings.labels_as_placeholders %}{% assign placeholder = ' placeholder="' | append: label | append: '"' %}{% endif %}
    <input name="{{ name }}" id="{{ id }}" type="{{ type }}" value=""{{ placeholder }}{{ required }} />
    {%- endif %}

    {% if block.settings.type == 'textarea' -%}
    {% assign value = name %}
    {% assign name = form | append: '[' | append: name | append: ']' %}
    {% if section.settings.labels_as_placeholders %}{% assign placeholder = ' placeholder="' | append: label | append: '"' %}{% endif %}
    <textarea name="{{ name }}" id="{{ id }}" class="{{ block.settings.width }}"{{ placeholder }}{{ required }}></textarea>
    {%- endif %}

    {% if block.settings.type == 'select' -%}
    {% assign value = name %}
    {% assign name = form | append: '[' | append: name | append: ']' %}
    {% if section.settings.labels_as_placeholders %}{% assign placeholder = '<option>' | append: label | append: '</option>' %}{% endif %}
    {% assign options = block.settings.options | newline_to_br | split: '<br />' %}    
    {% capture optionlist %}{% for option in options %}{% assign opt = option | strip_newlines %}{% assign val = opt | handle %}<option value="{{ val }}">{{ opt }}</option>{% endfor %}{% endcapture %}
    <select name="{{ name }}" id="{{ id }}"{{ required }}>
    {{ placeholder }}{{ optionlist }}
    </select>
    {%- endif %}

    {% if block.settings.type == 'radio' -%}
    {% assign value = name %}
    {% assign name = form | append: '[' | append: name | append: ']' %}
    {% if section.settings.labels_as_placeholders %}{% assign placeholder = '<option>' | append: label | append: '</option>' %}{% endif %}
    {% assign options = block.settings.options | newline_to_br | split: '<br />' %}    
    {% capture optionlist %}{% for option in options %}{% assign opt = option | strip_newlines %}{% assign val = opt | handle %}<input value="{{ val }}"{{ groupclass }} id="{{ val }}" name="{{ name }}" type="radio"><label for="{{ val }}"{{ groupclass }}>{{ opt }}</label>{% endfor %}{% endcapture %}
    <fieldset>
    <legend>{{ label }}</legend>
    {{ optionlist }}
    </fieldset>
    {%- endif %}

    {% if block.settings.type == 'checkbox' -%}
    {% assign value = name %}
    {% assign name = form | append: '[' | append: name | append: ']' %}
    {% if section.settings.labels_as_placeholders %}{% assign placeholder = '<option>' | append: label | append: '</option>' %}{% endif %}
    {% assign options = block.settings.options | newline_to_br | split: '<br />' %}    
    {% capture optionlist %}{% for option in options %}{% assign opt = option | strip_newlines %}{% assign val = opt | handle %}<input value="{{ val }}"{{ groupclass }} id="{{ val }}" name="{{ name }}" type="checkbox"><label for="{{ val }}"{{ groupclass }}>{{ opt }}</label>{% endfor %}{% endcapture %}
    <fieldset>
    <legend>{{ label }}</legend>
    {{ optionlist }}
    </fieldset>
    {%- endif %}
     
  </div>
  {% endunless %}

{%- endfor -%}
{%- endcapture %}

<style>
#shopify-section-{{ section.id }} form label,
#shopify-section-{{ section.id }} form input,
#shopify-section-{{ section.id }} form select,
#shopify-section-{{ section.id }} form p,
#shopify-section-{{ section.id }} form h2  {
  text-align: {{ section.settings.text_align }};
}
</style>

    {% form 'contact' %}
 
      {{ fields }}

      <div class="actions">

      <button class="btn">{{ section.settings.button_text }}</button>

      </div>
      
    {% endform %}


{% endif %}

{% schema %}

{
  "name": "Form",
  "class": "form-section",
  "settings": [
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button label",
          "default": "Submit"
        },
        {
          "type": "select",
          "id": "button_width",
          "label": "Button width",
          "options": [
            {
              "value": "full",
              "label": "Full"
            },
            {
              "value": "auto",
              "label": "Auto"
            }
          ],
          "default": "auto"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "header",
          "content": "Fields"
        },
        {
          "type": "checkbox",
          "id": "labels_as_placeholders",
          "label": "Display labels as placeholders",
          "default": false
        }
        
  ],
  "name": "Form",
  "blocks": [
    {
      "type": "form",
      "name": "Field",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Name"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "options": [
            {
              "value": "full",
              "label": "1/1 width"
            },
            {
              "value": "half",
              "label": "1/2 width"
            },
            {
              "value": "third",
              "label": "1/3 width"
            }
          ],
          "default": "full"
        },        
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "textarea",
              "label": "Textarea"
            },
            {
              "value": "select",
              "label": "Select group"
            },
            {
              "value": "checkbox",
              "label": "Checkbox group"
            },
            {
              "value": "radio",
              "label": "Radio group"
            },
            {
              "value": "heading",
              "label": "Heading"
            },
            {
              "value": "paragraph",
              "label": "Paragraph"
            }            
          ],
          "default": "text"
        },
        {
          "type": "textarea",
          "id": "options",
          "label": "Options",
          "info": "List to create group"
        }, 
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Form",
      "category": "Content"
    }
  ]
}

{% endschema %}
