<!-- SECTION -->

{% assign font_gutter = 30 %}
{% assign bgsize = 1000 | append: 'x' %}

{% capture stylesheet %}

{% if section.settings.share_buttons != 'hidden' %}
.social-sharing {
	margin-bottom: {{ font_gutter }}px;
	margin-bottom: 0;
}
{% endif %}

{% endcapture %}




{% capture separator %}
  {% if section.settings.separator_replace and page.content contains section.settings.separator_marker %}

    {% if section.settings.separator_width == 'page' or section.settings.separator_width == 'overflow' %}
  </div></main></article></div></div></div>
    {% endif %}

      <div class="separator_holder">
      {% if section.settings.separator_width == 'overflow' %}<div class="container{% if settings.width_bleed_to_edge %} bleed{% endif %}">{% endif %}

        <div class="separator forproduct divider{% if section.settings.image_parallax %} parallax{% endif %}">
          {% if section.settings.image_placement == 'foreground' and section.settings.image_position != 'hidden' %}
          <img src="{{ section.settings.image_bg | img_url: bgsize }}" alt="" style="width:100%" />     
          {% endif %}
        </div>

      {% if section.settings.separator_width == 'overflow' %}</div>{% endif %}
      </div>

    {% if section.settings.separator_width == 'page' or section.settings.separator_width == 'overflow' %}
    <div class="separated"><div class="container bleed clearfix"><div id="shopify-section-product" class="shopify-section"><article class="product"><main><div>
    {% endif %}

  {% endif %}
{% endcapture %}



<style>
{{ stylesheet }}
</style>




    {% capture get_description %}    
      {%- assign opentag = '<' | append: section.settings.content_grouping -%}  
      {% if section.settings.content_grouping != 'nogroup' and page.content contains opentag %}
        {% capture thedescription %}
        {%- assign desc = page.content -%}
        {%- assign headings = desc | split: opentag -%}
        {%- assign count = 0 -%}
        {% for group in headings %}{%- if count > 0 %}</div>{% endif -%}<div class="metadesc">{{ opentag }}{{ group }}{%- assign count = count | plus: 1 -%}{% endfor %}</div>
        {% endcapture %}
        {% assign clean = '<div class="metadesc">' | append: opentag | append: '</div>' %}
        {% assign thedescription = thedescription | remove: clean %}
      {% else %}
        {% assign thedescription = page.content %}
      {% endif %}

        {% if section.settings.separator_replace and thedescription contains section.settings.separator_marker %}
          {% if settings.sidesbar_pages %}
            {{ thedescription }}
          {% else %}
            {% assign separator_marker = section.settings.separator_marker %}
            {{ thedescription | replace: separator_marker, separator }}
          {% endif %}
        {% else %}
          {{ thedescription }}
        {% endif %}

    {% endcapture %}

    {{ get_description }}



           
  
  {% if settings.cookie_enable %}
    
      {% assign storetype = 'general.site.shop_ref' | t %}

      {% if template contains 'cookie.consent' %}  

    	<div class="supports-cookies">          

    	</div>  

          <!-- Cookieconsent -->

    	<div class="supports-cookies" id="settings">
          <h3>{{ 'general.accessibility.no_cookie_policy_title' | t }}</h3>
          <!-- <p>{{ 'general.accessibility.no_cookie_intro_html' | t | replace: 'store', storetype }}</p> -->
          <p id="cookie-intro"></p>
          <p id="cookie-notice">
            {{ 'general.accessibility.no_cookie_policy_settings_html' | t | replace: 'store', storetype }}
          </p>
          {{ 'general.accessibility.cookie_settings_html' | t }}
    	</div>  
   
      {% endif %}  

      {% if template contains 'cookie.consent' %}

          {% comment %}
          <h2>Contact us</h2>
          <p>{{ shop.name }} <br />
          {{ shop.address.street }} <br />
          {{ shop.address.city }} <br />
          {{ shop.address.zip }}</p>
          {% endcomment %}

          {% if settings.cookie_enable %}
          {% assign cookie_status = 'foot' %}
          {% endif %}

          {% include 'cookie-js' with cookie_status %}  

      {% endif %}

  {% else %}

  		{% if template contains 'cookie.consent' %}

    	<p>{{ 'general.accessibility.no_cookies' | t }}</p>

    	{% else %}

      	<p>{{ 'general.accessibility.no_cookies' | t }}</p>

  		{% endif %}

  {% endif %}



  {% if section.settings.share_buttons != 'hidden' %}
    {% include 'social-sharing', share_title: page.title, share_permalink: page.url, share_image: page, share_status: section.settings.share_buttons %}
  {% endif %}



{% schema %}
{
    "name": "Body",
    "settings": [
      {
        "type": "select",
        "id": "share_buttons",
        "label": "Social sharing",
        "options": [
          {
            "value": "hidden",
            "label": "Hidden"
          },
          {
            "value": "icons",
            "label": "Icons"
          },
          {
            "value": "text",
            "label": "Text"
          },
          {
            "value": "rich",
            "label": "Rich"
          },
          {
            "value": "buttons",
            "label": "Buttons"
          }
        ],
        "default": "rich"
      },
      {
        "type": "header",
        "content": "Grouping"
      },
      {
         "type": "paragraph",
         "content": "Headings can be used to group content for separate styling by adding 'metadesc' class wrapper"
      },
      {
        "type": "select",
        "id": "content_grouping",
        "label": "Group with preceding heading",
        "options": [
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "nogroup",
            "label": "Don't group"
          }
        ],
        "default": "nogroup"
      },
      {
        "type": "header",
        "content": "Separator"
      },
      {
         "type": "paragraph",
         "content": "When sidebar is disabled"
      },
      {
        "type": "checkbox",
        "id": "separator_replace",
        "label": "Enable find & replace",
        "default": true
      },
      {
        "type": "text",
        "id": "separator_marker",
        "label": "Find & Replace",
        "default": "<!-- SEPARATOR -->"
      },
      {
        "type": "select",
        "id": "separator_width",
        "label": "Width",
        "options": [
          {
            "value": "page",
            "label": "Page"
          },
          {
            "value": "overflow",
            "label": "Content Overflow"
          },
          {
            "value": "container",
            "label": "Content Container"
          },
          {
            "value": "content",
            "label": "Content Text"
          }
        ],
        "default": "content"
      },
      {
              "type": "color",
              "id": "line_color",
              "label": "Divide line color"
      },
      {
        "type": "color",
        "id": "separator_bg",
        "label": "Divide background color",
        "default": "#ffffff"
      },
      {
            "type": "image_picker",
            "id": "image_bg",
            "label": "Divide image"
      },
      {
            "type": "select",
            "id": "image_position",
            "label": "Divide image position",
            "options": [
              {
                "value": "hidden",
                "label": "Hidden"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "tile",
                "label": "Tile"
              },
              {
                "value": "fill",
                "label": "Fill"
              }
            ],
            "default": "hidden"
      },
      {
            "type": "select",
            "id": "image_placement",
            "label": "Divide image placement",
            "options": [
              {
                "value": "background",
                "label": "Background"
              },
              {
                "value": "foreground",
                "label": "Foreground"
              }
            ],
            "default": "background"
      },
      {
         "type": "range",
         "id": "separator_padding",
         "min": 0,
         "max": 50,
         "step": 1,
         "unit": "px",
         "label": "Divide padding",
         "default": 10
      },
      {
               "type": "range",
               "id": "line_size",
               "min": 0,
               "max": 10,
               "step": 1,
               "unit": "px",
               "label": "Divide line size",
               "default": 1
      }
    ]
}
{% endschema %}
