{% include 'settings' %}
{% assign mobile_width = grid_mobile %}

  {% if section.blocks.size > 0 %}

  <style>
  {% if section.settings.promotions_width == 'container' %}
  @media only screen and (min-width: {{ mobile_width | remove: 'px' | append: 'px' }}) {
  #shopify-section-{{ section.id }} .container {
    padding: 0;
    background-color: {{ section.settings.promotions_bg }}; 
  }
  }
  {% endif %}

  {% if section.settings.promotions_width == 'container' or section.settings.promotions_width == 'content' or section.settings.promotions_width == 'page' %}
  @media only screen and (min-width: {{ mobile_width | remove: 'px' | append: 'px' }}) {
    #shopify-section-{{ section.id }} > h2,
    #shopify-section-{{ section.id }} > .container > h2 {
      padding-top:  0;
      margin-top:  0;
    }
  }
  {% endif %}
    
  #shopify-section-{{ section.id }} {  
    overflow: hidden;  
    /* border: solid 1px white; */
   
    {% if section.settings.promotions_width == 'overflow' or section.settings.promotions_width == 'page' %}
    {% if section.settings.image_position != 'hidden' and section.settings.image_bg != nil %}
    {% assign bgsize = 1000 | append: 'x' %}
    background-image: url('{{ section.settings.image_bg | img_url: bgsize }}');
      
      
    {% if section.settings.image_parallax %}
    background-position: center -1px; 
      
    {% if section.settings.image_position == 'center' %}    
    background-repeat: no-repeat;
    {% endif %}
    {% if section.settings.image_position == 'tile' %}
    background-repeat: repeat;
    {% endif %}
    {% if section.settings.image_position == 'fill' %}   
    background-size: cover;
    {% endif %}        
      
    {% else %}
      
    {% if section.settings.image_position == 'center' %}    
    background-position: center center; 
    background-repeat: no-repeat;
    {% endif %}
    {% if section.settings.image_position == 'tile' %}
    background-position: center center; 
    background-repeat: repeat;
    {% endif %}
    {% if section.settings.image_position == 'fill' %}   
    background-position: center center; 
    background-size: cover;
    {% endif %}
      
    {% endif %}      
      

      
    {% endif %}      
    background-color: {{ section.settings.promotions_bg }};
    {% endif %}



  }  

  #shopify-section-{{ section.id }} > h2,
  #shopify-section-{{ section.id }} > .container > h2 {
    color: {{ section.settings.promotions_title }};
    /*
    padding-top:  0;
    margin-top:  0;
    */
    position: relative;
    z-index: 3;
  }
    
  {% unless section.settings.image_position == 'hidden' %}
  {% if section.settings.promotions_width == 'overflow' or section.settings.promotions_width == 'page' %}
  #shopify-section-{{ section.id }}:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;  
      background-color: {{ section.settings.promotions_bg }};  
      opacity: {{ section.settings.image_opacity | divided_by: 100.00 }};
  }
  {% endif %}
  {% endunless %}
  {% if section.settings.image_bg != nil %}
  {% endif %}

    
  #shopify-section-{{ section.id }} .container { 
    overflow: hidden;   
    /* border: solid 1px black; */   
    
  }  
  #shopify-section-{{ section.id }} .container .promotions {  
    overflow: hidden;  
    /* border: solid 1px red; */
  }   

  {% if section.settings.promotions_width == 'overflow' %}
  #shopify-section-{{ section.id }} .container {    
    background: transparent; 
    padding: 0 !important;
  }    
  {% endif %}    
    
  #shopify-section-{{ section.id }} .promotions {
  	/* Default to same as settings.grid_spacing */
    grid-gap: {{ section.settings.promotions_spacing }}px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    {% unless section.settings.promotions_autoplay %}
    {% endunless %}
    font-size: {{ settings.promotions_font_size }}px;




    {% if section.settings.image_bg != nil %}
    {% unless section.settings.image_position == 'hidden' %}

        {% if section.settings.promotions_width != 'overflow' or section.settings.promotions_width == 'page' %}
        {% if section.settings.image_type == 'background' %}
        background-size: cover;
        {% else %}    
        background-color: {{ section.settings.promotions_bg }};
        {% endif %}
        {% endif %}
        
        
        
        {% if section.settings.promotions_width == 'container' or section.settings.promotions_width == 'content' or section.settings.promotions_width == 'page' %}
        {% if section.settings.image_position != 'hidden' %}
        {% assign bgsize = 1000 | append: 'x' %}
        background-image: url('{{ section.settings.image_bg | img_url: bgsize }}');
          
          
        {% if section.settings.image_parallax %}
        background-position: center -1px; 
          
        {% if section.settings.image_position == 'center' %}    
        background-repeat: no-repeat;
        {% endif %}
        {% if section.settings.image_position == 'tile' %}
        background-repeat: repeat;
        {% endif %}
        {% if section.settings.image_position == 'fill' %}   
        background-size: cover;
        {% endif %}      
          
        {% else %}  
          
        {% if section.settings.image_position == 'center' %}    
        background-position: center center; 
        background-repeat: no-repeat;
        {% endif %}
        {% if section.settings.image_position == 'tile' %}
        background-position: center center; 
        background-repeat: repeat;
        {% endif %}
        {% if section.settings.image_position == 'fill' %}   
        background-position: center center; 
        background-size: cover;
        {% endif %}
          
        {% endif %} 
          
          
          
        {% endif %}      
        background-color: {{ section.settings.promotions_bg }};
        {% endif %} 


    {% endunless %}
    {% endif %}

    
  }

  {% unless section.settings.image_position == 'hidden' %}
  {% if section.settings.promotions_width == 'container' or section.settings.promotions_width == 'content' or section.settings.promotions_width == 'page' %}
  #shopify-section-{{ section.id }} .promotions:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;  
      background-color: {{ section.settings.promotions_bg }};  
      opacity: {{ section.settings.image_opacity | divided_by: 100.00 }};
  }
  {% endif %}
  {% endunless %}
  {% if section.settings.image_bg != nil %}
  {% endif %}
  
    
  #shopify-section-{{ section.id }} .promotion {
    vertical-align: middle;
    text-align: {{ section.settings.promotions_alignment }};
    position: relative;
    padding: {{ section.settings.promotions_padding }}px;
    background: transparent;
    
  }
  {% if section.settings.image_type != 'hidden' %}  
  #shopify-section-{{ section.id }} .promotion > img {
    display: block;
  } 
  {% endif %}
  #shopify-section-{{ section.id }} .promotion > a {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #shopify-section-{{ section.id }} h2 {
    text-align: {{ section.settings.promotions_alignment }};
  }
  #shopify-section-{{ section.id }} .promotion h2,
  #shopify-section-{{ section.id }} .promotion p {
    text-align: {{ section.settings.promotions_alignment }};
    color: {{ section.settings.promotions_text }};
    padding: 0;
    margin: 0;
  }
  #shopify-section-{{ section.id }} .promotions h2 {
    font-size: {{ section.settings.promotions_heading_size }}px;
  }
  #shopify-section-{{ section.id }} .promotions p {
    margin-top: 0.2em;
    font-size: {{ section.settings.promotions_font_size }}px;
  }
  {% if section.settings.image_type != 'hidden' %}
  #shopify-section-{{ section.id }} .promotion img,
  #shopify-section-{{ section.id }} .promotion svg {
    width: {{ section.settings.image_size }}%;
    {% if section.settings.image_type == 'icon' %}
    display: inline;
    margin: auto 0.5em auto 0;
    padding: 0;
    vertical-align: middle;
    {% endif %}
    {% if section.settings.image_type == 'image' %}
    margin: 0 auto 0.5em auto;
    {% endif %}
  }
  {% endif %}
  #shopify-section-{{ section.id }} .promotion .desc {
  	{% if section.settings.image_type == 'icon' %}
    display: inline-block;
    vertical-align: middle;
  	{% endif %}
  } 



  @media only screen and (max-width: {{ mobile_width | remove: 'px' | minus: 1 | append: 'px' }}) {
    {% if section.settings.per_row_mobile == 0 %}
    #shopify-section-{{ section.id }} .promotions {
      display: none;
    } 
      #shopify-section-{{ section.id }} .container {
        margin: 0 !important;
        padding: 0 !important;
      }   
    {% endif %}
    
    {% unless section.settings.promotions_width == 'content' %}
    #shopify-section-{{ section.id }} .container { 
      padding: 0 !important;    
    } 
    {% endunless %}
 

    {% if section.settings.per_row_mobile > 0 %}
      #shopify-section-{{ section.id }} .container {
        margin-top: 0 !important;
        padding-top: 0 !important;
      }
      {% if section.settings.per_row_mobile == 1 %}
      #shopify-section-{{ section.id }} .promotions {
        display: block;
      } 
        #shopify-section-{{ section.id }} .promotions .promotion {          
          {%- if section.blocks.size > 1 -%}
          margin-bottom: 0;
          {% else %}
          margin-bottom: {{ section.settings.promotions_spacing }}px;
          {% endif %}            
        } 
    	{%- if section.blocks.size > 1 -%}
        #shopify-section-{{ section.id }} .promotions > div:last-of-type {
          margin-bottom: {{ section.settings.promotions_spacing }}px; 
        }
    	{% endif %}
      {% endif %}
    {% endif %}
    
    #shopify-section-{{ section.id }} .promotions .promotion {  
    	margin-top: {{ section.settings.promotions_spacing }}px;
    }
    
  }
    
  </style>

	{% if section.settings.promotions_width == 'container' or section.settings.promotions_width == 'content' or section.settings.promotions_width == 'overflow' %}<div class="container{% if settings.width_bleed_to_edge %} bleed{% endif %}">{% endif %}

    {% if section.settings.title != empty %}<h2>{{ section.settings.title }}</h2>{% endif %}

    <div class="promotions textcolumns{% if section.settings.image_parallax %} parallax{% endif %}">
    {%- for block in section.blocks -%}
        {% assign imgsize = 400 | append: 'x' %}
        <div class="promotion item" role="presentation" style="{% if block.settings.image and section.settings.image_type == 'background' %}background: url('{{ block.settings.image | img_url: imgsize }}') {{ block.settings.color_bg }} no-repeat center center;{% else %}background:{{ block.settings.color_bg }};{% endif %}border: {% if block.settings.border_thickness > 0 %}{{ block.settings.border_thickness }}px{% else %}0{% endif %} solid {{ block.settings.color_border }};">

          {% if block.settings.image and section.settings.image_type != 'background' %}
          <img src="{{ block.settings.image | img_url: imgsize }}" />
          {% endif %}

          <div class="desc">
          <h2 style="color:{{ block.settings.color_text }}">{{ block.settings.title }}</h2>
          <p style="color:{{ block.settings.color_text }}">{{ block.settings.subheading }}</p>
          </div>
          
          {% if block.settings.url != blank %}<a href="{{ block.settings.url }}"></a>{% endif %}

        </div>
    {%- endfor %}
    </div>

	{% if section.settings.promotions_width == 'container' or section.settings.promotions_width == 'content' or section.settings.promotions_width == 'overflow' %}</div>{% endif %}

  {% endif %}



{% schema %}
  {
    "name": "Text Columns",
	"class": "parallax",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Text Columns"
      },
      {
        "type": "select",
        "id": "promotions_width",
        "label": "Width",
        "options": [
          {
            "value": "page",
            "label": "Page"
          },
          {
            "value": "overflow",
            "label": "Content Overflow"
          },
          {
            "value": "container",
            "label": "Content Container"
          },
          {
            "value": "content",
            "label": "Content Text"
          }
        ],
        "default": "content"
      },
      {
        "type": "select",
        "id": "promotions_alignment",
        "label": "Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "range",
        "id": "per_row_mobile",
        "min": 0,
        "max": 2,
        "step": 1,
        "label": "Columns on mobile",
        "default": 1
      },
      {
         "type": "range",
         "id": "promotions_spacing",
         "min": 0,
         "max": 50,
         "step": 10,
         "unit": "px",
         "label": "Column spacing",
         "default": 0
      },
      {
         "type": "range",
         "id": "promotions_padding",
         "min": 0,
         "max": 50,
         "step": 5,
         "unit": "px",
         "label": "Column padding",
         "default": 10
      },
      {
        "type": "header",
        "content": "Fonts"
      },
      {
        "type": "range",
        "id": "promotions_heading_size",
        "min": 7,
        "max": 60,
        "step": 1,
        "unit": "px",
        "label": "Heading size",
        "default": 16
      },
      {
        "type": "range",
        "id": "promotions_font_size",
        "min": 7,
        "max": 60,
        "step": 1,
        "unit": "px",
        "label": "Text size",
        "default": 14
      },
      {
        "type": "header",
        "content": "Images"
      },
      {
            "type": "select",
            "id": "image_type",
            "label": "Image type",
            "options": [
              {
                "value": "hidden",
                "label": "Hidden"
              },
              {
                "value": "icon",
                "label": "Icon"
              },
              {
                "value": "image",
                "label": "Image"
              },
              {
                "value": "background",
                "label": "Background"
              }
            ],
            "default": "icon"
      },
      {
             "type": "range",
             "id": "image_size",
             "min": 0,
             "max": 100,
             "step": 2,
             "unit": "%",
             "label": "Image size",
             "default": 10
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "promotions_title",
        "label": "Title color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "promotions_text",
        "label": "Text color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "promotions_bg",
        "label": "Background and overlay color",
        "default": "#ffffff"
      },
      {
            "type": "image_picker",
            "id": "image_bg",
            "label": "Background image"
      },
      {
            "type": "select",
            "id": "image_position",
            "label": "Background position",
            "options": [
              {
                "value": "hidden",
                "label": "Hidden"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "tile",
                "label": "Tile"
              },
              {
                "value": "fill",
                "label": "Fill"
              }
            ],
            "default": "fill"
      },
      {
        "type": "range",
        "id": "image_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "label": "Background overlay visibility",
        "default": 50
      },
      {
         "type": "checkbox",
         "id": "image_parallax",
         "label": "Show parallax",
         "default": true
      }
	],
    "blocks": [
      {
        "type": "promotion",
        "name": "Column",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "subheading",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link URL"
          },  
          {
            "type": "range",
            "id": "border_thickness",
            "min": 0,
            "max": 30,
            "step": 1,
            "label": "Border thickness",
            "default": 1
          }, 
          {
            "type": "color",
            "id": "color_border",
            "label": "Border color",
            "default": "#9a9999"
          }, 
          {
            "type": "color",
            "id": "color_bg",
            "label": "Background color",
            "default": "#000000"
          },
          {
            "type": "color",
            "id": "color_text",
            "label": "Text color",
            "default": "#ffffff"
          } 
        ]
      }
    ],
    "presets": [
      {
        "name": "Text Columns",
        "category": "Content"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
