
{% if divider contains 'svg' %}
<ul class="progress breadcrumb ">
      <li class="breadcrumb__item breadcrumb__item--current">
{% endif %}
        
        <span class="breadcrumb__text" aria-current="step">{{ 'cart.checkout_breadcrumb.cart' | t }}</span>
        {{ divider }}

{% if divider contains 'svg' %}
      </li>
      <li class="breadcrumb__item breadcrumb__item--blank">
{% endif %}
        
        <span class="breadcrumb__text">{{ 'cart.checkout_breadcrumb.customer_information' | t }}</span>
        {{ divider }}

{% if divider contains 'svg' %}        
      </li>
      <li class="breadcrumb__item breadcrumb__item--blank">
{% endif %}
        
        <span class="breadcrumb__text">{{ 'cart.checkout_breadcrumb.shipping_method' | t }}</span>
        {{ divider }}

{% if divider contains 'svg' %}        
      </li>
      <li class="breadcrumb__item breadcrumb__item--blank">
{% endif %}
        
        <span class="breadcrumb__text">{{ 'cart.checkout_breadcrumb.payment_method' | t }}</span>

{% if divider contains 'svg' %}        
      </li>
</ul>
{% endif %}
