{%- assign title = product.title -%}
{%- assign content = product.content -%}
{%- assign url = product.url -%}
{%- assign more_visibility = '' -%}
{%- if section.settings.first_variant_to_cart -%}{%- else -%}{%- assign buy_displayed_variant = 'no' -%}{%- endif -%}
{%- if section.settings.show_swatches -%}{%- assign show_variant_colors = 'yes' -%}{%- endif -%}
{%- if section.settings.show_sizes -%}{%- assign show_variant_sizes = 'yes' -%}{%- endif -%}

{%- assign link_product = 'true' -%}
{%- if template == 'collection.packaged' and section.settings.links == false -%}
  {%- assign link_product = 'false' -%}
{%- endif -%}

{%- assign product_price = 'true' -%}
{%- if template == 'collection.packaged' and section.settings.price == false -%}
  {%- assign product_price = 'false' -%}
{%- endif -%}

{%- if demo_url %}{%- assign url = demo_url -%}{% endif -%}
{%- if demo_title %}{%- assign title = demo_title -%}{% endif -%}
{%- if demo_content %}{%- assign content = demo_content -%}{% endif -%}





{%- capture listvariants -%}

  <br />
  {% for option in product.options_with_values -%}
      {%- assign optcheck = option.name | downcase -%}
      {%- assign current_style = '' -%}
      {%- if optcheck contains 'color' or optcheck contains 'colour' %}
          {% if show_variant_colors == 'yes' -%}
              

              <div>TESTING VARIANT COLORS</div>
                  {%- assign current_style = section.settings.color_style -%}
                  {% if current_style == 'swatches' %}<div class="colors">{%- assign checkAvailable = 'no' -%}{% endif -%}

                  {%- if current_style == 'swatches' %} 
                      {%- assign option_name = option.name | downcase -%}
                      {%- assign current_option = "option" | append: option.position -%}
                      {%- assign other_options = "option1 option2 option3" | remove: current_option | strip | split: " " -%}
                      {%- for value in option.values %}

                            {%- assign available = false -%}

                            {%- for variant in product.variants %}

                                  {%- comment %}<!-- {{ firstgroup }} from {{ variant.title }} -->{% endcomment -%}

                                  {%- assign showthumb = false -%}

                                  {%- capture id %}{{ variant.id }}{% endcapture -%}
                                  {%- unless variant.available %}
                                    {%- if checkAvailable == 'yes' -%}
                                    {%- continue -%}
                                    {% endif %}
                                  {% endunless -%}
                                  {%- unless variant[current_option] == value %}
                                    {%- continue -%}
                                  {% endunless -%}
                                  {%- unless variant[other_options[0]] == current_variant[other_options[0]] %}
                                    {%- continue -%}
                                  {% endunless -%}
                                  {%- unless variant[other_options[1]] == current_variant[other_options[1]] %}
                                    {%- continue -%}
                                  {% endunless -%}
                                  {%- assign available = true -%}
                                  {%- assign uri = variant.id -%}
                                  {%- capture url %}{{ product.url | within: collection }}?variant={{ uri }}{% endcapture -%} 
                        
                                  {%- unless option_name contains 'colour' or option_name contains 'color' %}
                                      {%- comment %}<!-- Restrict variant thumbnails to colours -->{% endcomment -%}
                                      {%- if section.settings.show_color_thumbnails %}
                                          {%- assign showthumb = false -%}
                                      {% endif -%}
                                  {% endunless -%}     
                  
                                {%- capture text %}{%- if showthumb == true %}<img src="{{ variant | img_url: '60x' }}" />{%- else -%}{{ value }}{%- assign class=' class="btn"' -%}{% endif -%}{% endcapture -%}              
                                {%- assign opt_i = opt_i | plus: 1 -%}

                            {% endfor -%}

                            {%- assign checked = "" -%}
                            {%- assign selected = "" -%}
                            {%- if current_variant[current_option] == value %}
                                {%- assign checked = ' disabled' %}{% assign selected = ' selected' -%}
                            {% endif %}

                            {%- comment %}<!-- TO FIX: If product variant is disabled/out-of-stock, swatch does not display -->{% endcomment -%}
                            {% if current_style == 'swatches' %}{% assign bgurl = text | append: '.png' | file_img_url: '50x50' %}{%- capture alt %} title="{{ text }}"{% endcapture -%}{%- capture class %} class="col{{ selected }}" style="background-color:{{ text | strip | remove: ' ' | downcase }};{%- unless bgurl contains 'no-image' %}background-url('{{ bgurl }}'){% endunless -%}"{% endcapture -%}{%- assign text = '' -%}{% endif -%}
                            <i{{ class }}{{ checked }}{{ alt }} />{{ text }}</i>

                      {% endfor -%}

                  {% endif %}


              {% if current_style == 'swatches' %}</div>{% endif %}
          {%- endif -%}
      {% endif -%}
      {%- if optcheck contains 'size' %}
          {% if show_variant_sizes == 'yes' -%}
              <div>TESTING VARIANT SIZES</div>
          {%- endif -%}
      {%- endif -%}
  {%- endfor %}
{%- endcapture -%}





  {% capture readmore -%}
         {%- if section.settings.read_more == 'link' -%}<span class="link read_more visually-shown"{{ more_visibility }}>{%- endif -%}
         {%- if section.settings.read_more == 'button' -%}<span class="btn read_more visually-shown"{{ more_visibility }}>{%- endif -%}<!-- {{ 'blogs.article.read_more' | t }} -->{%- if section.settings.read_more == 'button' -%}</span>{%- endif -%}
         {% if section.settings.read_more == 'link' %}</span>{% endif -%}
  {%- endcapture %}

    {%- comment %}
    <!-- TO DO: Invalid post if no id value, need to disable form 'not just button' -->
    <!-- TO DO: If has variants or order form, need to disable form 'not just button' -->
    <!-- TO DO: Needs to work with whole product linked -->
    {% endcomment -%}
    {%- capture addnow -%}
         {%- if template == 'product.no.cart' -%}
         {%- else -%}
         {%- if section.settings.add_cart != 'hidden' -%}  
         {%- unless product.available %}{% assign nocart = true %}{% endunless %}

         {%- comment %}<!-- TO DO: TEST order form product disables 'add to cart' -->{% endcomment -%}
         {%- assign nocart = false -%}
         {%- if product.template_suffix contains 'orderform' %}{% assign nocart = true %}{% endif -%}
         {%- if product.available %}{% else %}{% assign nocart = true %}{% endif -%}
         {%- if buy_displayed_variant == 'no' and product.variants.size > 1 %}{%- assign nocart = true -%}{% endif -%}

         {%- capture moreoptions -%}
             {%- if product.options.size > 1 -%}
              {% if section.settings.more_options %}
              {% assign showmoreoptions = 'yes' %}
                 <p class="small">{{ 'products.general.more_options' | t }}</p> 
              {% endif %}
             {%- endif -%}
         {%- endcapture -%}
         <form action="/cart/add" method="post" enctype="multipart/form-data" class="{%- if section.settings.read_more != 'hidden' -%}readmore{%- endif -%}"{%- if nocart %} aria-disabled="true"{% endif -%}>
             <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
             <input type="hidden" name="quantity" value="1" min="1" />
             {%- if section.settings.read_more == 'link' %}{%- assign more_visibility = ' style="opacity:0"' -%}{% endif -%}

              {% if settings.cart_action == 'update' -%}
                <input type="hidden" name="return_to" value="back" />
              {%- elsif settings.cart_action  == 'checkout' -%}
                <input type="hidden" name="return_to" value="/checkout" />
              {%- endif -%}

              <div class="supports-cookies">
              <button type="submit" name="add" data-add-to-cart class="btn add_to_cart"{%- if nocart %} disabled="disabled"{% endif -%}>
                <span data-add-to-cart-text>
                    {%- if product.available -%}
                    {{- 'products.general.add_to_cart' | t -}}
                    {%- else -%}
                    {{- 'products.general.sold_out' | t -}}
                    {%- endif -%}
                </span>
              </button>
              </div>

           {%- comment %}
             <button type="submit" class="btn add_to_cart"{%- unless product.available %} disabled="disabled"{% endunless -%} />
             <span data-add-to-cart-text>{% if product.available %}{{ 'products.general.add_to_cart' | t }}{% else %}{{ 'products.general.sold_out' | t }}{% endif %}</span>
             </button>
           {% endcomment -%}

             {%- if section.settings.read_more != 'hidden' -%}
             {{ readmore }}
             {%- endif -%}

         </form>
     {% else %}

     {%- if section.settings.read_more != 'hidden' -%}
     {{ readmore }}
     {%- endif -%}

         {%- endif -%}
         {%- endif -%}
    {%- endcapture -%}
    {%- assign checkaddnow = addnow | strip_newlines -%}

  {%- assign nobuttons = 'no' %}
  {%- if section.settings.more_options and section.settings.read_more == 'hidden' %}{%- assign showmoreoptions = 'yes' -%}{% endif -%}
  {%- if section.settings.more_options and section.settings.add_cart == 'hidden' %}{%- assign showmoreoptions = 'yes' -%}{% endif -%}
  {%- if section.settings.read_more == 'hidden' and section.settings.add_cart == 'hidden' %}{%- assign nobuttons = 'yes' -%}{% endif -%}

{%- comment %}<!-- Force to hide read more and buttons on search results -->{% endcomment -%}
{% if search %}
{%- assign showmoreoptions = 'yes' %}
{%- assign nobuttons = 'yes' -%}
{%- assign checkaddnow = '' -%}
{%- assign readmore = '' -%}
{%- assign addnow = '' -%}
{% endif -%}



  <div class="item product {% if section.settings.read_more != 'hidden' or showmoreoptions == 'yes' %}{% if section.settings.read_more == 'button' %} buttons{% endif %}{% unless nobuttons == 'yes' %} hasexcerpt{% endunless %}{% if checkaddnow contains '<button' %} andcart{% endif %}{% else %}{% if nobuttons == 'no' %} hasexcerpt{% endif %}{% endif %}{% if settings.products_border and link_product == 'true' %} hasborder{% endif %}{% if section.settings.read_more != 'hidden' and section.settings.add_cart == 'hidden' %} andmore{% endif %}">
      
        {%- capture get_image -%}        
        {%- if section.settings.image -%}
        <p class="image">

          {%- capture img -%}
          {%- if product.featured_image.src -%}       
          <img src="{{ product.featured_image.src | img_url: '480x480' }}" alt="{{ product.featured_image.alt | escape }}">
          {%- else -%}
          {{ title }}
          {%- endif -%}
          {%- endcapture -%} 

          {%- if demo_img -%}{%- assign img = demo_img -%}{%- endif -%}

          {{- img -}}  

        </p>        
          
        {%- else -%}
        
        {%- comment %}<img src="https:{{ settings.placeholder_image | img_url: '480x480' }}" alt="{{ title }}">{% endcomment -%}
        
        {%- endif -%}
        
        {%- endcapture -%}      

        {%- capture get_title -%}
          {%- if section.settings.product_title -%}
          <span class="title">{{ title }}</span>
          {%- endif -%} 
        {%- endcapture -%}        
      
        {%- if section.settings.layout_grid_prominent_feature == 'image' %}
        {{ get_image }}
        {{ get_title }}
        {% endif -%}
      
        {%- if section.settings.layout_grid_prominent_feature == 'title' %}
        {{ get_title }}
        {{ get_image }}
        {% endif -%}
      
        {%- if section.settings.layout_grid_prominent_feature == 'image_title' %}
        {{ get_image }}
        {% endif -%}

        <div class="summary">
          {% if section.settings.layout_grid_prominent_feature != 'title' and section.settings.layout_grid_prominent_feature == 'image_title' -%}
          {{- get_title -}}
          {%- endif -%}
          
          {%- if section.settings.first_variant -%}
          <p class="first-variant">
              {%- assign count = 0 -%}  
              {%- for variant in product.variants -%}
              {%- if count == 0 -%}              
                {%- unless product.template_suffix contains 'giftcard' or variant.title == 'Default Title' -%}{{ variant.title }}{%- endunless -%}
                {%- assign count = 1 -%} 
              {%- endif -%}   
              {%- endfor -%}
          </p>
          {%- endif -%}

          
          {%- if section.settings.vendor -%}
          {%- assign showvendor = 'true' -%}{% if product.vendor == shop.name -%}{% unless settings.vendor_default %}{%- assign showvendor = 'false' -%}{% endunless %}{%- endif %}
          {% if showvendor == 'true' -%}
          <p class="vendor">            
            {{ product.vendor }}            
          </p>
          {%- endif %}
          {%- endif -%}
          

          {%- comment %}<!-- Product Reviews App -->{% endcomment -%}
          {%- if section.settings.show_review_rating -%}
          <div class="review-rating">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span> 
          </div>
          {%- endif -%}
          
          {%- comment %}<!-- TO DO: Enable inc and exc prices to be ordered -->{% endcomment -%}
          
          {%- assign showprice = 'true' -%}
          {%- assign show_tax = '' -%}
          {%- assign show_price_tax = '' -%}
          
          {%- if product.price == 0 -%}
              {%- assign showprice = 'false' -%}
          {%- endif -%}

          {%- if showprice == 'false' -%}
              {%- assign show_tax = '<!-- <p></p> -->' -%}
          {%- else -%}
          
            {%- if settings.tax_inc_and_exc -%}
              {%- assign taxes_rate = settings.taxes_rate -%}
              {%- assign tax_diff = 100 | minus: taxes_rate -%}
              {%- assign tax_rate_add = "1." | append: taxes_rate | plus: 0 -%}
              {%- assign tax_rate_exc = "0." | append: tax_diff | plus: 0 -%}          
              {%- if shop.taxes_included -%}

                {%- comment %}Taxes included{% endcomment -%}          
                {%- capture show_price_tax -%}
                  {%- if product.price > 0 -%}
                    <sup>{{ 'products.general.tax_inc' | t }}</sup>
                  {%- endif -%}
                {%- endcapture -%}

                {%- capture show_tax -%}                
                      {%- if product.price > 0 -%}
                      <p class="taxprice"><span class="price">{{ product.price | times: tax_rate_exc | money }}</span> <sup>{{ 'products.general.tax_exc' | t }}</sup></p> 
                      {%- else -%}
                      <p></p>
                      {%- endif -%}
                {%- endcapture -%}

              {%- else -%}

                {%- comment %}Excluding taxes{% endcomment -%}          
                {%- capture show_price_tax -%} 
                  {%- if product.price > 0 -%}
                  {%- unless product.template_suffix contains 'giftcard' -%}
                    <sup>{{ 'products.general.tax_exc' | t }}</sup>
                  {%- endunless -%}
                  {%- endif -%}
                {%- endcapture -%}    
          
                {%- capture show_tax -%}
                {%- unless product.template_suffix contains 'giftcard' -%} 
                {%- if product.price > 0 -%}
                    <p class="taxprice"><span class="price">{{ product.price | times: tax_rate_add | money }}</span> <sup>{{ 'products.general.tax_inc' | t }}</sup></p> 
                {%- else -%}
                    <p></p>
                {%- endif -%}
                {%- endunless -%}
              {%- endcapture -%}

              {%- endif -%}
            {%- endif -%}
          {%- endif -%}
          
          {%- assign saving = 0 -%}          
          {%- if section.settings.pricing %}{%- assign showprice = 'true' -%}{% else %}{%- assign showprice = 'false' -%}{% endif -%}          
          {%- if showprice == 'true' -%}
          
          <div class="pricing">

            {%- if product_price == 'true' -%}
            {%- capture show_price -%}
            <p class="productprice{% if showprice == 'false' -%} none{% endif %}">   

              {%- if showprice == 'false' -%}
                <span class="price free">{{ 'products.general.price_none' | t }}</span>
              {%- else -%}

                    {%- if product.price == 0 -%}
                    <span class="price free">{{ 'products.general.price_none' | t }}</span>
                    {%- else -%}

                        {%- assign showsale = 'no' -%}
                        {%- if product.compare_at_price > product.price -%}
                          {%- if product.price_varies -%}
                            {%- assign showsale = 'yes' -%}
                            {%- assign sale_price = product.price | money -%}
                            {{ 'products.general.on_sale_from_html' | t: price: sale_price }}
                          {%- else -%}
                            {%- assign showsale = 'yes' -%}
                            <span class="price">{{ product.price | money }}</span>                           
                            {%- assign saving = product.compare_at_price | minus: product.price -%}                        
                            {%- assign saving_percent = product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0' -%}
                          {%- endif -%} 

                        {%- else -%}

                          {%- if product.price_varies -%}
                            {%- assign price = product.price | money -%}
                            {{ 'products.general.from_text_html' | t: price: price }}
                          {%- else -%}
                            <span class="price">{{ product.price | money }}</span>
                          {%- endif -%}

                        {%- endif -%}
                        {%- comment %}
                        <!-- 
                        {%- if product.compare_at_price > product.price -%}
                            <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                            <s><span class="price">{{ product.compare_at_price | money }}</span></s>
                            {%- assign saving = product.compare_at_price | minus: product.price -%}
                            {%- assign saving_percent = product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0' -%}
                        {%- endif -%} 
                        -->
                        {% endcomment -%}
                        {{ show_price_tax }}
              
                {%- endif -%}

              {%- endif -%}

            </p>
            {%- endcapture -%}

            {%- if shop.taxes_included -%}
              {%- if showprice == 'false' -%}
              {{ show_price }}
              {{ show_tax }} 
              {%- else -%}
              {{ show_tax }} 
              {{ show_price }}
              {%- endif -%}
            {%- else -%}
            {{ show_price }} {%- comment %}<!-- SHOW PRICE -->{% endcomment -%}
            {{ show_tax }} {%- comment %}<!-- TO FIX: Do not show if price is FREE -->{% endcomment -%}
            {%- endif -%}       
              
            {%- endif -%}
          </div>
          
          {%- endif -%}

          {%- if section.settings.sku_as_summary %}
          <p class="content">

              {%- assign current_variant = product.selected_or_first_available_variant -%}
              {{ current_variant.sku }}

          </p>
          {% endif -%}

          {%- if section.settings.description -%}
          <p class="content">
            {%- comment %}{{ content | strip_html | truncatewords: 100 }}{% endcomment -%}      
            {% if section.settings.description_paragraph -%}
              {%- assign content = content | strip_html -%}
                {%- if content contains '.' -%}
                    {%- assign firstpara = content | split: '.' -%}
                    {{ firstpara[0] }}.
                {%- else -%}
                    {{ content | truncate: 100, '' }}
                {%- endif -%}
            {%- else -%}
                {{ content }}
            {%- endif -%}            
          </p>
          {%- endif -%}

          {{ moreoptions }}   


        </div>

        {{ listvariants }}

        {%- capture vendorurl %}{{ collection.url }}{% endcapture -%}  
        {%- if vendorurl contains 'collections/vendors?q=' -%}  
        {%- assign thisurl = url -%}
        {%- else -%}
        {%- assign thisurl = url | within: collection -%}
        {%- endif %}
             
        <a href="{{ thisurl }}" title="{{ product.title }}"><span class="visually-hidden">{{ 'blogs.article.read_more' | t }}</span></a>
        <div class="more supports-cookies">          
            {% if section.settings.read_more != 'hidden' and section.settings.add_cart == 'hidden' -%}<form class="readmore">{%- endif %}          
            {{- addnow -}}              
            {% if section.settings.read_more != 'hidden' and section.settings.add_cart == 'hidden' -%}</form>{%- endif %}              
        </div> 
      
        {%- include 'new' %}
        {%- unless product.available -%}{%- include 'soldout' %}{%- endunless -%}
        {%- if showsale == 'yes' -%}{%- include 'sale', saving:saving %}{%- endif -%}

    </div>
